<a class="c-airlines__link" href="javascript:void(0)">
    Эйр Астана (Air Astana)
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Аэрофлот
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Уральские авиалинии
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Turkish Airlines
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Ukraine International airlines
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Белавиа
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Pegasus Airlines
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Узбекские авиалинии (Uzbekistan Airways)
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    Wizz Air
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    LOT Polish Airlines
</a>
<a class="c-airlines__link" href="javascript:void(0)">
    China Southern Airlines
</a>