<div class="c-apply">
    <div class="c-apply__selected">
        <div class="c-apply__item">
            2 звезды
        </div>
        <div class="c-apply__item">
            Аппартаменты
        </div>
        <div class="c-apply__item">
            Неаполь
        </div>
    </div>
    <div class="c-apply__reset">
        Сбросить все
    </div>
</div>