<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/british-airways.svg" alt="british-airways">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/turkish-airlines.svg" alt="turkish-airlines">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/qatar-airways.svg" alt="qatar-airways">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/lufthansa.svg" alt="lufthansa">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/malaysia.svg" alt="malaysia">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/emirates.svg" alt="emirates">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/singapore.svg" alt="singapore">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/eurowings.svg" alt="eurowings">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/nordwind.svg" alt="nordwind">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/ryanair.svg" alt="ryanair">
    </div>
</div>
<div class="c-avia__item c-avia--wizz">
    <div class="c-avia__img">
        <img src="../images/logo_avia/wizz.svg" alt="wizz">
    </div>
</div>
<div class="c-avia__item c-avia--etihad">
    <div class="c-avia__img">
        <img src="../images/logo_avia/etihad.svg" alt="etihad">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/korean-air.svg" alt="korean-air">
    </div>
</div>
<div class="c-avia__item">
    <div class="c-avia__img">
        <img src="../images/logo_avia/cathay-pacific.svg" alt="cathay-pacific">
    </div>
</div>