<div class="c-card">
    <div class="c-card__left">
        <div class="c-slick__wrap">
            <div class="c-slick c-slick__card">
                <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=1" alt="image">
                <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=2" alt="image">
                <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=3" alt="image">
            </div>
            <div class="c-card__quantity"></div>
        </div>
    </div>
    <div class="c-card__center">
        <div class="c-card__row">
            <a class="c-card__title" href="javascript:void(0)">
                Ibis Budget Auckland Airport
            </a>
        </div>
        <div class="c-card__row">
            <div class="c-card__star">
                <span class="c-card__star--item">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </span>
                <span class="c-card__star--item">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </span>
                <span class="c-card__star--item">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </span>
                <span class="c-card__star--item">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </span>
                <span class="c-card__star--item">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </span>
            </div>
            <span class="c-card__tag--item c-card__tag--single">
                Апарт-отель
            </span>
        </div>
        <div class="c-card__row max-767">
            <div class="c-card__rating">
                <div class="c-card__rating--number">
                    8.7
                </div>
                <div class="c-card__rating--text">
                    Отличное расположение
                </div>
            </div>
        </div>
        <div class="c-card__row">
            <div class="c-card--group">
                <div class="c-card__row">
                    <a class="c-card__location" href="javascript:void(0)" title="Урочище Наталка, ул. 2-я линия, 26, Оболонский район, Киев, Украина">
                        <svg class="icon icon--pin"><use xlink:href="images/_sprite.svg#icon--pin"></use></svg>
                        <span class="c-card__location--region">
                            Урочище Наталка,
                        </span>
                        <span class="c-card__location--address">
                            ул. 2-я линия, 26,
                        </span>
                        <span class="c-card__location--district">
                            Оболонский район,
                        </span>
                        <span class="c-card__location--city">
                            Киев,
                        </span>
                        <span class="c-card__location--country">
                            Украина
                        </span>
                    </a>
                </div>
                <div class="c-card__row">
                    <div class="c-card__distance">
                        200 м от центра
                    </div>
                    <div class="c-card__dot"></div>
                    <a class="c-card__map" href="javascript:void(0)">
                        Показать на карте
                    </a>
                </div>
            </div>
        </div>
        <div class="c-card__row min-768">
            <div class="c-card__text">
                К услугам гостей Doria Amalfi с видом на Средиземное море терраса на крыше с шезлонгами и зонтиками, а также бесплатный регулярный трансфер от/до центра города Амальфи
                К услугам гостей Doria Amalfi с видом на Средиземное море терраса на крыше с шезлонгами и зонтиками, а также бесплатный регулярный трансфер от/до центра города Амальфи
            </div>
        </div>
        <div class="c-card__row c-card--wrap min-768">
            <div class="c-card__tag">
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Лифт
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Трансфер
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Бизнес-центр
                </a>
                <a class="c-card__tag--item c-card__tag--active" href="javascript:void(0)">
                    Бесплатная парковка
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Ресторан
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Лифт
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Трансфер
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Бизнес-центр
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Ресторан
                </a>
            </div>
        </div>
    </div>
    <div class="c-card__right c-card--flex-start min-768">
        <a class="c-card__buy--button" href="javascript:void(0)">
            Проверить наличие мест
        </a>
    </div>
</div>
<div class="c-card">
    <div class="c-card__left">
        <div class="c-slick__wrap">
            <div class="c-slick c-slick__card">
                <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=1" alt="image">
                <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=2" alt="image">
                <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=3" alt="image">
            </div>
            <div class="c-card__quantity"></div>
        </div>
    </div>
    <div class="c-card__center">
        <div class="c-card__row">
            <a class="c-card__title" href="javascript:void(0)">
                Ibis Budget Auckland Airport
            </a>
        </div>
        <div class="c-card__row">
            <div class="c-card__square">
                <span class="c-card__square--item"></span>
                <span class="c-card__square--item"></span>
                <span class="c-card__square--item"></span>
                <span class="c-card__square--item"></span>
                <span class="c-card__square--item"></span>
            </div>
            <span class="c-card__tag--item c-card__tag--single">
                Апарт-отель
            </span>
        </div>
        <div class="c-card__row max-767">
            <div class="c-card__rating">
                <div class="c-card__rating--number">
                    8.7
                </div>
                <div class="c-card__rating--text">
                    Отличное расположение
                </div>
            </div>
        </div>
        <div class="c-card__row">
            <div class="c-card--group">
                <div class="c-card__row">
                    <a class="c-card__location" href="javascript:void(0)" title="Урочище Наталка, ул. 2-я линия, 26, Оболонский район, Киев, Украина">
                        <svg class="icon icon--pin"><use xlink:href="images/_sprite.svg#icon--pin"></use></svg>
                        <span class="c-card__location--region">
                            Урочище Наталка,
                        </span>
                        <span class="c-card__location--address">
                            ул. 2-я линия, 26,
                        </span>
                        <span class="c-card__location--district">
                            Оболонский район,
                        </span>
                        <span class="c-card__location--city">
                            Киев,
                        </span>
                        <span class="c-card__location--country">
                            Украина
                        </span>
                    </a>
                </div>
                <div class="c-card__row">
                    <div class="c-card__distance">
                        200 м от центра
                    </div>
                    <div class="c-card__dot"></div>
                    <a class="c-card__map" href="javascript:void(0)">
                        Показать на карте
                    </a>
                </div>
            </div>
        </div>
        <div class="c-card__row min-768">
            <div class="c-card__text">
                К услугам гостей Doria Amalfi с видом на Средиземное море терраса на крыше с шезлонгами и зонтиками, а также бесплатный регулярный трансфер от/до центра города Амальфи
                К услугам гостей Doria Amalfi с видом на Средиземное море терраса на крыше с шезлонгами и зонтиками, а также бесплатный регулярный трансфер от/до центра города Амальфи
            </div>
        </div>
        <div class="c-card__row c-card--wrap min-768">
            <div class="c-card__tag">
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Лифт
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Трансфер
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Бизнес-центр
                </a>
                <a class="c-card__tag--item c-card__tag--active" href="javascript:void(0)">
                    Бесплатная парковка
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Ресторан
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Лифт
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Трансфер
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Бизнес-центр
                </a>
                <a class="c-card__tag--item" href="javascript:void(0)">
                    Ресторан
                </a>
            </div>
        </div>
    </div>
    <div class="c-card__right min-768">
        <div class="c-card__rating">
            <div class="c-card__rating--number">
                8.7
            </div>
            <div class="c-card__rating--text">
                Великолепно
            </div>
        </div>
        <div class="c-card__buy">
            <div class="c-card__buy--text">
                Средняя цена / ночь
            </div>
            <div class="c-card__buy--price">
                4 879 <span>UAH</span>
            </div>
            <a class="c-card__buy--button" href="javascript:void(0)">
                Проверить наличие мест
            </a>
        </div>
    </div>
</div>