<div class="c-card c-card--catalog">
  <div class="c-card__left">
    <div class="c-slick__wrap">
      <div class="c-slick c-slick__card">
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=1" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=2" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=3" alt="image">
        </div>
      </div>
      <div class="c-card__quantity"></div>
    </div>
    <div class="c-card__ribbon max-1151">
      Выгодный вариант
    </div>
  </div>
  <div class="c-card__center">
    <div class="c-card__row">
      <a class="c-card__title" href="javascript:void(0)">
        Ibis Budget Auckland Airport
      </a>
    </div>
    <div class="c-card__row">
      <div class="c-card__square">
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
      </div>
      <span class="c-card__tag--item c-card__tag--single">
        Апарт-отель
      </span>
    </div>
    <div class="c-card__row max-767">
      <div class="c-card__rating">
        <div class="c-card__rating--number">
          8.7
        </div>
        <div class="c-card__rating--text">
          Отличное расположение
        </div>
      </div>
    </div>
    <div class="c-card__row">
      <div class="c-card--group">
        <div class="c-card__row">
          <a class="c-card__location" href="javascript:void(0)" title="Урочище Наталка, ул. 2-я линия, 26, Оболонский район, Киев, Украина">
            <svg class="icon icon--pin">
              <use xlink:href="images/_sprite.svg#icon--pin"></use>
            </svg>
            <span class="c-card__location--region">
              Урочище Наталка,
            </span>
            <span class="c-card__location--address">
              ул. 2-я линия, 26,
            </span>
            <span class="c-card__location--district">
              Оболонский район,
            </span>
            <span class="c-card__location--city">
              Киев,
            </span>
            <span class="c-card__location--country">
              Украина
            </span>
          </a>
        </div>
        <div class="c-card__row">
          <div class="c-card__distance">
            200 м от центра
          </div>
          <div class="c-card__dot"></div>
          <a class="c-card__map" href="javascript:void(0)">
            Показать на карте
          </a>
        </div>
      </div>
    </div>
    <div class="c-card__row min-1152">
      <div class="c-card__alert">
        <div class="c-card__alert--img">
          <img src="images/all/attention.svg" alt="image">
        </div>
        <div class="c-card__alert--content">
          <div class="c-card__alert--title">
            Распродано
          </div>
          <div class="c-card__alert--text">
            На нашем сайте в этом варианте размещения не осталось номеров на ваши даты:
            <br>
            ср, 20 февр. 2019 - сб, 23 февр. 2019 (3 ночи)
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-card__right min-1152">
    <div class="c-card__rating">
      <div class="c-card__rating--row">
        <div class="c-card__rating--review">
          678
          <br>
          отзывов
        </div>
        <div class="c-card__rating--number">
          8.7
        </div>
      </div>
      <div class="c-card__rating--text">
        Великолепно
      </div>
    </div>
    <div class="c-card__buy">
      <div class="c-card__buy--hourglass">
        <svg class="icon icon--hourglass">
          <use xlink:href="images/_sprite.svg#icon--hourglass"></use>
        </svg>
      </div>
      <div class="c-card--fs-16 c-card--fw-600">
        Вы не успели!
      </div>
      <div class="c-card--fs-12 c-card--mt-0">
        Попробуйте другие даты
      </div>
    </div>
  </div>
</div>


<div class="c-card c-card--catalog">
  <div class="c-card__left">
    <div class="c-slick__wrap">
      <div class="c-slick c-slick__card">
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=1" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=2" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=3" alt="image">
        </div>
      </div>
      <div class="c-card__quantity"></div>
    </div>
  </div>
  <div class="c-card__center">
    <div class="c-card__row c-card--flex-between c-card--column-max-1151 c-card--align-start">
      <div class="c-card__column">
        <div class="c-card__row">
          <a class="c-card__title" href="javascript:void(0)">
            Ibis Budget Auckland Airport
          </a>
        </div>
        <div class="c-card__row">
          <div class="c-card__square">
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
          </div>
          <span class="c-card__tag--item c-card__tag--single">
            Апарт-отель
          </span>
        </div>
      </div>
      <div class="c-card__column c-card--mt-6-max-1151">
        <div class="c-card__rating">
          <div class="c-card__rating--row">
            <div class="c-card__rating--review min-1152">
              678
              <br>
              отзывов
            </div>
            <div class="c-card__rating--number">
              8.7
            </div>
          </div>
          <div class="c-card__rating--text">
            Великолепно
          </div>
        </div>
      </div>
    </div>
    <div class="c-card__row">
      <div class="c-card--group">
        <div class="c-card__row">
          <a class="c-card__location" href="javascript:void(0)" title="Урочище Наталка, ул. 2-я линия, 26, Оболонский район, Киев, Украина">
            <svg class="icon icon--pin">
              <use xlink:href="images/_sprite.svg#icon--pin"></use>
            </svg>
            <span class="c-card__location--region">
              Урочище Наталка,
            </span>
            <span class="c-card__location--address">
              ул. 2-я линия, 26,
            </span>
            <span class="c-card__location--district">
              Оболонский район,
            </span>
            <span class="c-card__location--city">
              Киев,
            </span>
            <span class="c-card__location--country">
              Украина
            </span>
          </a>
        </div>
        <div class="c-card__row">
          <div class="c-card__distance">
            200 м от центра
          </div>
          <div class="c-card__dot"></div>
          <a class="c-card__map" href="javascript:void(0)">
            Показать на карте
          </a>
        </div>
      </div>
    </div>
    <div class="c-card__row min-1152">
      <div class="c-card__alert c-card__alert--blue">
        <div class="c-card__alert--img">
          <img src="images/all/no-disturb.svg" alt="image">
        </div>
        <div class="c-card__alert--content">
          <div class="c-card__alert--text">
            У нас не осталось номеров на ваши даты: ср, 20 февр. 2019 - сб, 23 февр. 2019 (3 ночи)
          </div>
        </div>
      </div>
    </div>
    <div class="c-card__row min-1152 c-card--mt-10">
      На эти даты еще есть номера, но они могут закончиться
    </div>
    <div class="c-card__row min-1152 c-card--mt-10">
      <div class="c-card__slideset c-slick c-slick__card--slideset c-slick--arrow-m-0">
        <div class="c-card__slideset--item">
          <div class="c-card__slideset--top">
            2 нояб - 3 нояб
            <br>
            3 ночи сб - вт
          </div>
          <div class="c-card__slideset--bottom">
            От 3560 UAH
          </div>
        </div>
        <div class="c-card__slideset--item">
          <div class="c-card__slideset--top">
            2 нояб - 3 нояб
            <br>
            3 ночи сб - вт
          </div>
          <div class="c-card__slideset--bottom">
            От 3560 UAH
          </div>
        </div>
        <div class="c-card__slideset--item">
          <div class="c-card__slideset--top">
            2 нояб - 3 нояб
            <br>
            3 ночи сб - вт
          </div>
          <div class="c-card__slideset--bottom">
            От 3560 UAH
          </div>
        </div>
        <div class="c-card__slideset--item">
          <div class="c-card__slideset--top">
            2 нояб - 3 нояб
            <br>
            3 ночи сб - вт
          </div>
          <div class="c-card__slideset--bottom">
            От 3560 UAH
          </div>
        </div>
        <div class="c-card__slideset--item">
          <div class="c-card__slideset--top">
            2 нояб - 3 нояб
            <br>
            3 ночи сб - вт
          </div>
          <div class="c-card__slideset--bottom">
            От 3560 UAH
          </div>
        </div>
      </div>
    </div>
    <div class="c-card__row c-card--text-right c-card--mt-10 max-1151">
      <div class="c-card__mark">
        Распродано
      </div>
    </div>
    <div class="c-card__row c-card--red c-card--lh c-card--text-right max-1151">
      Объект размещения полностью
      <br>
      забронирован на нашем сайте
    </div>
  </div>
</div>


<div class="c-card c-card--catalog">
  <div class="c-card__left">
    <div class="c-slick__wrap">
      <div class="c-slick c-slick__card">
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=1" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=2" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=3" alt="image">
        </div>
      </div>
      <div class="c-card__quantity"></div>
    </div>
  </div>
  <div class="c-card__center">
    <div class="c-card__row c-card--flex-between">
      <div class="c-card__column">
        <div class="c-card__row">
          <a class="c-card__title" href="javascript:void(0)">
            Ibis Budget Auckland Airport
          </a>
        </div>
        <div class="c-card__row">
          <div class="c-card__square">
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
            <span class="c-card__star--item">
              <svg class="icon icon--star">
                <use xlink:href="images/_sprite.svg#icon--star"></use>
              </svg>
            </span>
          </div>
          <span class="c-card__tag--item c-card__tag--single">
            Апарт-отель
          </span>
        </div>
      </div>
      <div class="c-card__column min-1152">
        <div class="c-card__rating">
          <div class="c-card__rating--row">
            <div class="c-card__rating--review">
              678
              <br>
              отзывов
            </div>
            <div class="c-card__rating--number">
              8.7
            </div>
          </div>
          <div class="c-card__rating--text">
            Великолепно
          </div>
        </div>
      </div>
    </div>
    <div class="c-card__row">
      <div class="c-card--group">
        <div class="c-card__row">
          <a class="c-card__location" href="javascript:void(0)" title="Урочище Наталка, ул. 2-я линия, 26, Оболонский район, Киев, Украина">
            <svg class="icon icon--pin">
              <use xlink:href="images/_sprite.svg#icon--pin"></use>
            </svg>
            <span class="c-card__location--region">
              Урочище Наталка,
            </span>
            <span class="c-card__location--address">
              ул. 2-я линия, 26,
            </span>
            <span class="c-card__location--district">
              Оболонский район,
            </span>
            <span class="c-card__location--city">
              Киев,
            </span>
            <span class="c-card__location--country">
              Украина
            </span>
          </a>
        </div>
        <div class="c-card__row">
          <div class="c-card__distance">
            200 м от центра
          </div>
          <div class="c-card__dot"></div>
          <a class="c-card__map" href="javascript:void(0)">
            Показать на карте
          </a>
        </div>
      </div>
    </div>
    <div class="c-card__row">
      <div class="c-card--has-icon c-card--fs-12-max-1151 c-card--lh-max-1151">
        <img src="images/all/card__bell.svg" alt="image">
        Последний раз забронированно на ваши даты 17 минут назад
      </div>
    </div>
    <div class="c-card__row min-1152">
      <div class="c-card--has-icon c-card--red">
        <img src="images/all/card__search.svg" alt="image">
        Еще 2 человека просматривали этот отель на ваши даты за последние 10 минут
      </div>
    </div>
    <div class="c-card__row c-card--flex-between c-card--column-max-1151 c-card--flex-end-max-1151">
      <div class="c-card__column">
        <div class="c-card__row min-1152">
          <div class="c-card__mark">
            Выгодный вариант
          </div>
        </div>
        <div class="c-card__row">
          <div class="c-card--fw-600 c-card--lh c-card--text-right-max-1151 c-card--fs-12 max-1151">
            Стандартный двухместный номер
            <br>
            с 2 отдельными кроватями
          </div>
        </div>
        <div class="c-card__row min-1152">
          1 большая двухместная кровать
        </div>
        <div class="c-card__row min-1152">
          <div class="c-card--fw-600 c-card--blue">
            На нашем сайте остался 1 номер
          </div>
        </div>
      </div>
      <div class="c-card__column">
        <div class="c-card__row c-card--text-right c-card--mt-0 c-card--fs-12 max-1151">
          <div class="c-card--gray">
            2 ночи, 2 взросых и 2 детей
          </div>
        </div>
        <div class="c-card__row c-card--text-right c-card--mt-0">
          <div class="c-card__price c-card--fs-14-max-1151">
            <s class="c-card--fw-300 c-card--fs-12 max-1151">8 879 UAH</s> 8 879 UAH
          </div>
        </div>
        <div class="c-card__row c-card--text-right c-card--mt-0">
          <div class="c-card--gray c-card--fs-12">
            + налоги и сборы (UAH 678)
          </div>
        </div>
        <div class="c-card__row c-card--text-right c-card--mt-0">
          <div class="c-card--blue c-card--fw-600 c-card--text-transform c-card--fs-12">
            ПРЕДОПЛАТА НЕ ТРЕБУЕТСЯ -
          </div>
        </div>
        <div class="c-card__row c-card--text-right c-card--mt-0">
          <div class="c-card--lh c-card--fs-12">
            платите на месте
          </div>
        </div>
        <div class="c-card__row c-card--text-right c-card--mt-0">
          <div class="c-card--green c-card--fw-600 c-card--fs-12">
            Беслатная отмена
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="c-card c-card--catalog">
  <div class="c-card__left">
    <div class="c-slick__wrap">
      <div class="c-slick c-slick__card">
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=1" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=2" alt="image">
        </div>
        <div class="c-card--shadow">
          <img src="https://dummyimage.com/270x270/8BBAE5/fff.png&amp;text=3" alt="image">
        </div>
      </div>
      <div class="c-card__quantity"></div>
    </div>
  </div>
  <div class="c-card__center">
    <div class="c-card__row">
      <a class="c-card__title" href="javascript:void(0)">
        Ibis Budget Auckland Airport
      </a>
    </div>
    <div class="c-card__row">
      <div class="c-card__square">
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
        <span class="c-card__square--item"></span>
      </div>
      <span class="c-card__tag--item c-card__tag--single">
        Апарт-отель
      </span>
    </div>
    <div class="c-card__row max-767">
      <div class="c-card__rating">
        <div class="c-card__rating--number">
          8.7
        </div>
        <div class="c-card__rating--text">
          Отличное расположение
        </div>
      </div>
    </div>
    <div class="c-card__row">
      <div class="c-card--group">
        <div class="c-card__row">
          <a class="c-card__location" href="javascript:void(0)" title="Урочище Наталка, ул. 2-я линия, 26, Оболонский район, Киев, Украина">
            <svg class="icon icon--pin">
              <use xlink:href="images/_sprite.svg#icon--pin"></use>
            </svg>
            <span class="c-card__location--region">
              Урочище Наталка,
            </span>
            <span class="c-card__location--address">
              ул. 2-я линия, 26,
            </span>
            <span class="c-card__location--district">
              Оболонский район,
            </span>
            <span class="c-card__location--city">
              Киев,
            </span>
            <span class="c-card__location--country">
              Украина
            </span>
          </a>
        </div>
        <div class="c-card__row">
          <div class="c-card__distance">
            200 м от центра
          </div>
          <div class="c-card__dot"></div>
          <a class="c-card__map" href="javascript:void(0)">
            Показать на карте
          </a>
        </div>
      </div>
    </div>
    <div class="c-card__row min-1152">
      <div class="c-card__list">
        <div class="c-card__list--item">
          <div class="c-card__list--logo">
            <img src="images/logo_services/booking.svg" alt="image">
          </div>
          <div class="c-card__list--no-return">
            <div class="icon"></div>
            Стоимость не возвращается
          </div>
          <div class="c-card__list--price">
            8 879 UAH
          </div>
        </div>
        <div class="c-card__list--item">
          <div class="c-card__list--logo">
            <img src="images/logo_services/booking.svg" alt="image">
          </div>
          <div class="c-card__list--free">
            Бесплатная отмена
          </div>
          <div class="c-card__list--price">
            4 879 UAH
          </div>
        </div>
        <div class="c-card__list--item">
          <div class="c-card__list--logo">
            <img src="images/logo_services/agoda.svg" alt="image">
          </div>
          <div class="c-card__list--free">
            Бесплатная отмена
          </div>
          <div class="c-card__list--price">
            5 879 UAH
          </div>
        </div>
        <div class="c-card__list--item">
          <div class="c-card__list--logo">
            <img src="images/logo_services/park-inn.svg" alt="image">
          </div>
          <div class="c-card__list--free">

          </div>
          <div class="c-card__list--price">
            4 879 UAH
          </div>
        </div>
      </div>
    </div>
    <div class="c-card__row c-card--flex-between c-card--align-end max-1151">
      <div class="c-card__column">
        <div class="c-card__buy">
          <div class="c-card__buy--service c-card--text-left">
            Booking.com
          </div>
          <div class="c-card__buy--price c-card--mt-0 c-card--fs-16 c-card--fw-600">
            8 879 UAH
          </div>
        </div>
      </div>
      <div class="c-card__column">
        <a class="c-card__buy--button c-card__buy--blue" href="javascript:void(0)">
          Забронировать
        </a>
      </div>
    </div>
  </div>
  <div class="c-card__right min-1152">
    <div class="c-card__rating">
      <div class="c-card__rating--number">
        8.7
      </div>
      <div class="c-card__rating--text">
        Великолепно
      </div>
    </div>
    <div class="c-card__buy">
      <div class="c-card__buy--service">
        На Booking.com
      </div>
      <div class="c-card__buy--price c-card--mt-0">
        8 879 <span>UAH</span>
      </div>
      <a class="c-card__buy--button" href="javascript:void(0)">
        Выбрать
      </a>
      <div class="c-card__buy--days">
        за 5 ночей
      </div>
      <a class="c-card__buy--compare" href="javascript:void(0)">
        Сравнить 5 поставщиков
      </a>
    </div>
  </div>
</div>