<a class="c-cheap__item" href="javascript:void(0)">
    <img src="images/cheap/1.jpg" class="c-cheap__img" alt="image">
    <div class="c-cheap__title">
        Авиабилеты в Москву
    </div>
</a>
<a class="c-cheap__item" href="javascript:void(0)">
    <img src="images/cheap/1.jpg" class="c-cheap__img" alt="image">
    <div class="c-cheap__title">
        Авиабилеты в Москву
    </div>
</a>
<a class="c-cheap__item" href="javascript:void(0)">
    <img src="images/cheap/1.jpg" class="c-cheap__img" alt="image">
    <div class="c-cheap__title">
        Авиабилеты в Москву
    </div>
</a>
<a class="c-cheap__item" href="javascript:void(0)">
    <img src="images/cheap/1.jpg" class="c-cheap__img" alt="image">
    <div class="c-cheap__title">
        Авиабилеты в Москву
    </div>
</a>