<div class="c-criteria">
    <a class="c-criteria__link" href="javascript:void(0)">
        Бангкок
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Лондон
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Париж
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Дубай
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Будапешт
    </a>

    <a class="c-criteria__link" href="javascript:void(0)">
        Бангкок
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Лондон
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Париж
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Дубай
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Будапешт
    </a>

    <a class="c-criteria__link" href="javascript:void(0)">
        Бангкок
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Лондон
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Париж
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Дубай
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Будапешт
    </a>

    <a class="c-criteria__link" href="javascript:void(0)">
        Бангкок
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Лондон
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Париж
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Дубай
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Будапешт
    </a>

    <a class="c-criteria__link" href="javascript:void(0)">
        Бангкок
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Лондон
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Париж
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Дубай
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Будапешт
    </a>

    <a class="c-criteria__link" href="javascript:void(0)">
        Бангкок
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Лондон
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Париж
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Дубай
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Будапешт
    </a>

    <a class="c-criteria__link" href="javascript:void(0)">
        Бангкок
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Лондон
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Париж
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Дубай
    </a>
    <a class="c-criteria__link" href="javascript:void(0)">
        Будапешт
    </a>
    </div>