<div class="c-direction__list">
    <div class="c-direction__grid">
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Абхазия
            </a>
            <div class="c-direction__block--text">
                2281 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Австрия
            </a>
            <div class="c-direction__block--text">
                32321 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Албания
            </a>
            <div class="c-direction__block--text">
                4825 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Андорра
            </a>
            <div class="c-direction__block--text">
                721 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Армения
            </a>
            <div class="c-direction__block--text">
                3156 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Абхазия
            </a>
            <div class="c-direction__block--text">
                2281 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Австрия
            </a>
            <div class="c-direction__block--text">
                32321 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Албания
            </a>
            <div class="c-direction__block--text">
                4825 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Андорра
            </a>
            <div class="c-direction__block--text">
                721 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Армения
            </a>
            <div class="c-direction__block--text">
                3156 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Абхазия
            </a>
            <div class="c-direction__block--text">
                2281 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Австрия
            </a>
            <div class="c-direction__block--text">
                32321 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Албания
            </a>
            <div class="c-direction__block--text">
                4825 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Андорра
            </a>
            <div class="c-direction__block--text">
                721 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Армения
            </a>
            <div class="c-direction__block--text">
                3156 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Абхазия
            </a>
            <div class="c-direction__block--text">
                2281 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Австрия
            </a>
            <div class="c-direction__block--text">
                32321 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Албания
            </a>
            <div class="c-direction__block--text">
                4825 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Андорра
            </a>
            <div class="c-direction__block--text">
                721 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Армения
            </a>
            <div class="c-direction__block--text">
                3156 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Абхазия
            </a>
            <div class="c-direction__block--text">
                2281 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Австрия
            </a>
            <div class="c-direction__block--text">
                32321 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Албания
            </a>
            <div class="c-direction__block--text">
                4825 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Андорра
            </a>
            <div class="c-direction__block--text">
                721 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Армения
            </a>
            <div class="c-direction__block--text">
                3156 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Абхазия
            </a>
            <div class="c-direction__block--text">
                2281 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Австрия
            </a>
            <div class="c-direction__block--text">
                32321 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Албания
            </a>
            <div class="c-direction__block--text">
                4825 отелей
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Андорра
            </a>
            <div class="c-direction__block--text">
                721 отель
            </div>
        </div>
        <div class="c-direction__block">
            <a class="c-direction__block--link" href="javascript:void(0)">
                Армения
            </a>
            <div class="c-direction__block--text">
                3156 отелей
            </div>
        </div>
    </div>
</div>