<form class="c-filter" id="c-filter">
    <a class="c-filter__map" href="javascript:void(0)">
        <div class="c-filter__map--title">
            Посмотреть на карте
        </div>
    </a>
    <div class="c-filter__header">
        <div class="c-filter__header--title c-filter__close">
            Фильтры
        </div>
        <div class="c-filter__header--reset">
            Сбросить
        </div>
    </div>
    <div class="c-filter__main">
        <div class="c-filter__item">
            <div class="c-filter__title">
                Количество звезд
            </div>
            <div class="c-filter__list">
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            5 звезд
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            4 звезды
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            3 звезды
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            2 звезды
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            1 звезда
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox" checked>
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Без звезд
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="c-filter__item">
            <div class="c-filter__title">
                Налоги
            </div>
            <div class="c-filter__list">
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Включая налоги
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Не включая налоги
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="c-filter__item">
            <div class="c-filter__title">
                Тип размещения
            </div>
            <div class="c-filter__list">
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Апартаменты
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Гостевые дома
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Хостелы
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Отели
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Отели типа B&amp;B
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Дома на выходные
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Мини-отели
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Проживание в семье
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Виллы
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Ботели
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Апарт-отели
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="c-filter__item">
            <div class="c-filter__title">
                Район
            </div>
            <div class="c-filter__list">
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Бежанув-Прокоцим
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Броновице
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Гжегужки
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Дембники
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Звежинец
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Лагевники
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Лобзув
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Нова-Хута
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Подгуже
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Подгуже-Духацке
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-filter__more">
                    Показать еще
                </div>
            </div>
        </div>
        <div class="c-filter__item">
            <div class="c-filter__title">
                Рейтинг TripAdvisor
            </div>
            <div class="c-filter__list">
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            <span class="c-filter__advisor">
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                            </span>
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            <span class="c-filter__advisor">
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item"></span>
                            </span>
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            <span class="c-filter__advisor">
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item"></span>
                                <span class="c-filter__advisor--item"></span>
                            </span>
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            <span class="c-filter__advisor">
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item c-filter__advisor--active"></span>
                                <span class="c-filter__advisor--item"></span>
                                <span class="c-filter__advisor--item"></span>
                                <span class="c-filter__advisor--item"></span>
                            </span>
                        </span>
                        <span class="c-checkbox__count">
                            675
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="c-filter__item">
            <div class="c-filter__title">
                Удобства
            </div>
            <div class="c-filter__list">
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Wi-Fi
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Парковка
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Трансфер
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Номера для некурящих
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Размещение с животными
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Фитнес-центр
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Бассейн
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            СПА
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Ресторан
                        </span>
                    </label>
                </div>
                <div class="c-checkbox">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Бар
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="c-filter__item">
            <div class="c-filter__title">
                Отели по типам
            </div>
            <div class="c-filter__list">
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Отели Кракова 5 звезд
                        </span>
                    </label>
                </div>
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Отели Кракова 4 звезды
                        </span>
                    </label>
                </div>
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Отели Кракова 3 звезды
                        </span>
                    </label>
                </div>
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Недорогие отели Кракова
                        </span>
                    </label>
                </div>
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Апарт отели
                        </span>
                    </label>
                </div>
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Апартаменты Лондона
                        </span>
                    </label>
                </div>
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Хостелы лондона
                        </span>
                    </label>
                </div>
                <div class="c-checkbox c-checkbox--no-check">
                    <label class="c-checkbox__label">
                        <input type="checkbox" name="checkbox">
                        <span class="c-checkbox__icon"></span>
                        <span class="c-checkbox__title">
                            Виллы Лондона
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="c-filter__footer">
        <a class="c-button c-button--blue c-filter__button c-filter__close" href="javascript:void(0)">
            Применить фильтры
        </a>
    </div>
</form>