<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев -Люксембург
        </div>
        <div class="c-route__direction">
            Туда и обратно
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев -Люксембург
        </div>
        <div class="c-route__direction">
            Туда и обратно
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев -Люксембург
        </div>
        <div class="c-route__direction">
            Туда и обратно
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев -Люксембург
        </div>
        <div class="c-route__direction">
            Туда и обратно
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев -Люксембург
        </div>
        <div class="c-route__direction">
            Туда и обратно
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев -Люксембург
        </div>
        <div class="c-route__direction">
            Туда и обратно
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
    </a>
</div>