<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев - Люксембург
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
        <div class="c-route__logo">
            <img src="images/logo_avia/british-airways.svg" alt="image">
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев - Люксембург
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
        <div class="c-route__logo">
            <img src="images/logo_avia/emirates.svg" alt="image">
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев - Люксембург
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
        <div class="c-route__logo">
            <img src="images/logo_avia/etihad.svg" alt="image">
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев - Люксембург
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
        <div class="c-route__logo">
            <img src="images/logo_avia/lufthansa.svg" alt="image">
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев - Люксембург
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
        <div class="c-route__logo">
            <img src="images/logo_avia/malaysia.svg" alt="image">
        </div>
    </a>
</div>
<div class="c-route__item">
    <a class="c-route__content" href="javascript:void(0)">
        <div class="c-route__title">
            Киев - Люксембург
        </div>
        <div class="c-route__date">
            вт, 3 мар. - чт, 5 мар.
        </div>
        <div class="c-route__price">
            От <b>2500</b> UAH
        </div>
        <div class="c-route__logo">
            <img src="images/logo_avia/ryanair.svg" alt="image">
        </div>
    </a>
</div>
