<footer class="l-footer">
    <div class="c-subscription">
        <div class="l-container">
            <div class="c-subscription__wrap">
                <div class="c-subscription__form">
                    <div class="c-subscription__form--title">
                        Подписаться на новости
                    </div>
                    <form class="c-form c-form--subscription">
                        <input type="email" placeholder="Ваш e-mail" required>
                        <button class="c-button" type="submit">
                            <span class="c-button__inner">
                                <svg class="icon icon--submit"><use xlink:href="images/_sprite.svg#icon--submit"></use></svg>
                            </span>
                        </button>
                    </form>
                    <div class="c-subscription__form--text">
                        Конфиденциальность данных гарантируется, от подписки можно
                        <a class="c-link" href="javascript:void(0)">
                            отказаться
                        </a>
                        в любой момент
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-separator">
        <div class="l-container">
            <div class="c-separator__wrap">

                <nav class="c-nav">
                    <a class="c-nav__link" href="javascript:void(0)" target="_blank">
                        Отправить отзыв
                    </a>
                    <a class="c-nav__link" href="javascript:void(0)" target="_blank">
                        Пресс центр
                    </a>
                    <a class="c-nav__link" href="javascript:void(0)" target="_blank">
                        Для инвесторов
                    </a>
                    <a class="c-nav__link" href="javascript:void(0)" target="_blank">
                        Правила и условия
                    </a>
                    <a class="c-nav__link" href="javascript:void(0)" target="_blank">
                        Положение о конфиденциальности и cookie
                    </a>
                </nav>

                <div class="c-social">
                    <a class="c-social__link c-social__link--twitter" href="javascript:void(0)" target="_blank">
                        <svg class="icon icon--twitter"><use xlink:href="images/_sprite.svg#icon--twitter"></use></svg>
                    </a>
                    <a class="c-social__link c-social__link--google" href="javascript:void(0)" target="_blank">
                        <svg class="icon icon--google"><use xlink:href="images/_sprite.svg#icon--google"></use></svg>
                    </a>
                    <a class="c-social__link c-social__link--linkedin" href="javascript:void(0)" target="_blank">
                        <svg class="icon icon--linkedin"><use xlink:href="images/_sprite.svg#icon--linkedin"></use></svg>
                    </a>
                    <a class="c-social__link c-social__link--facebook" href="javascript:void(0)" target="_blank">
                        <svg class="icon icon--facebook"><use xlink:href="images/_sprite.svg#icon--facebook"></use></svg>
                    </a>
                    <a class="c-social__link c-social__link--instagram" href="javascript:void(0)" target="_blank">
                        <svg class="icon icon--instagram"><use xlink:href="images/_sprite.svg#icon--instagram"></use></svg>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="c-list">
        <div class="l-container">
            <div class="c-list__wrap">

                <div class="c-list__column">
                    <nav class="c-list__block">
                        <div class="c-list__title">
                            Популярные достопримечательности
                        </div>
                        <div class="c-list__group">
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Базилика Святого Петра
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Римский Колизей
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Стена Плача
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Замок Бран
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Дворец Топкапы
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Отель Бурдж-аль-Араб
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Пирамида Хеопса
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Диснейленд
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Площадь Испании
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Мечеть шейха Зайда
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Базилика Святого Петра
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Собор Мескита
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Тадж-Махал
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Миланский собор
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Атомиум
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Эльфиевая башня
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Статуя свободы
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Рейхстаг
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Сахара
                            </a>
                        </div>
                    </nav>
                </div>

                <div class="c-list__column">
                    <nav class="c-list__block">
                        <div class="c-list__title">
                            Популярные города
                        </div>
                        <div class="c-list__group">
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Абу-Даби
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Адлер
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Алба-Юлия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Алматы
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Алтай
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Алушта
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Амстердам
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Анапа
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Анталия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Архипелаг Лос-Рокес
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Астрахань
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Афины
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Баган
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Байкал
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Баку
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                о. Бали
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Бангкок
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Барселона
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Батуми
                            </a>
                        </div>
                    </nav>
                </div>

                <div class="c-list__column">
                    <nav class="c-list__block">
                        <div class="c-list__title">
                            Популярные страны
                        </div>
                        <div class="c-list__group">
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Абхазия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Австралия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Австрия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Азербайджан
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Албания
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Андорра
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Аргентина
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Армения
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Багамы
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Беларусь
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Бельгия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Болгария
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Бразилия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Великобритания
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Венгрия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Венесуэла
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Вьетнам
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Германия
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Греция
                            </a>
                        </div>
                    </nav>
                </div>

                <div class="c-list__column">
                    <nav class="c-list__block">
                        <div class="c-list__title">
                            Информация
                        </div>
                        <div class="c-list__group">
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                О Planet of Hotels
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Общие вопросы
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Добавить отель
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Вход для отелей
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Вход для клиентов
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Стать партнером
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Контакты
                            </a>
                        </div>
                    </nav>

                    <nav class="c-list__block">
                        <div class="c-list__title">
                            Туристический гид
                        </div>
                        <div class="c-list__group">
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Направления
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Достопримечательности
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Публикации
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Экскурсии
                            </a>
                        </div>
                    </nav>

                    <nav class="c-list__block">
                        <div class="c-list__title">
                            Бронирование
                        </div>
                        <div class="c-list__group">
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Отели
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Авиабилеты
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Аренда авто
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Страховки
                            </a>
                            <a class="c-list__link" href="javascript:void(0)" target="_blank">
                                Круизы
                            </a>
                        </div>
                    </nav>
                </div>

                <div class="c-list__column">
                    <div class="c-list__block c-list__block--subscription">
                        <div class="c-list__title">
                            Подписаться на новости
                        </div>
                        <div class="c-list__group">
                            <form class="c-form c-form--subscription">
                                <input type="email" placeholder="Ваш e-mail" required>
                                <button class="c-button c-button--subscription" type="submit">
                                    <span class="c-button__inner">
                                        <svg class="icon icon--submit"><use xlink:href="images/_sprite.svg#icon--submit"></use></svg>
                                    </span>
                                </button>
                            </form>
                            <div class="c-list__text">
                                Конфиденциальность данных гарантируется, от подписки можно
                                <a class="c-link c-link--fs-12" href="javascript:void(0)" target="_blank">
                                    отказаться
                                </a>
                                в любой момент
                            </div>
                        </div>
                    </div>

                    <div class="c-select">
                        <div class="c-select__selected">
                            Выберитие язык
                        </div>
                        <div class="c-select__dropdown">
                            <div class="c-select__scroll">
                                <div class="c-select__item">
                                    <div class="c-select__item--title">
                                        Язык-1
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--title">
                                        Язык-2
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--title">
                                        Язык-3
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--title">
                                        Язык-4
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--title">
                                        Язык-5
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--title">
                                        Язык-6
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--title">
                                        Язык-7
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="c-select">
                        <div class="c-select__selected">
                            Выберитие валюту
                        </div>
                        <div class="c-select__dropdown">
                            <div class="c-select__scroll">
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        AMD
                                    </div>
                                    <div class="c-select__item--title">
                                        Армянский драм
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        AUD
                                    </div>
                                    <div class="c-select__item--title">
                                        Австралийский доллар
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        BYN
                                    </div>
                                    <div class="c-select__item--title">
                                        Белорусский рубль
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        EUR
                                    </div>
                                    <div class="c-select__item--title">
                                        Евро
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        GBP
                                    </div>
                                    <div class="c-select__item--title">
                                        Фунт стерлингов Велико­британии
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        KGS
                                    </div>
                                    <div class="c-select__item--title">
                                        Киргизский сом
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        KZT
                                    </div>
                                    <div class="c-select__item--title">
                                        Казахский тенге
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        RUB
                                    </div>
                                    <div class="c-select__item--title">
                                        Российский рубль
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        TJS
                                    </div>
                                    <div class="c-select__item--title">
                                        Таджикский сомони
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        TMT
                                    </div>
                                    <div class="c-select__item--title">
                                        Туркменский манат
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        UAH
                                    </div>
                                    <div class="c-select__item--title">
                                        Украинская гривна
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        USD
                                    </div>
                                    <div class="c-select__item--title">
                                        Доллар США
                                    </div>
                                </div>
                                <div class="c-select__item">
                                    <div class="c-select__item--abbr">
                                        UZS
                                    </div>
                                    <div class="c-select__item--title">
                                        Узбекский сум
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="c-partner">
        <div class="l-container">
            <div class="c-partner__wrap">
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--kiwi"><use xlink:href="images/_sprite.svg#icon--kiwi"></use></svg>
                </a>
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--viator"><use xlink:href="images/_sprite.svg#icon--viator"></use></svg>
                </a>
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--tripadvisor"><use xlink:href="images/_sprite.svg#icon--tripadvisor"></use></svg>
                </a>
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--agoda"><use xlink:href="images/_sprite.svg#icon--agoda"></use></svg>
                </a>
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--booking"><use xlink:href="images/_sprite.svg#icon--booking"></use></svg>
                </a>
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--priceline"><use xlink:href="images/_sprite.svg#icon--priceline"></use></svg>
                </a>
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--rentalcars"><use xlink:href="images/_sprite.svg#icon--rentalcars"></use></svg>
                </a>
                <a class="c-partner__item" href="javascript:void(0)" rel="nofollow" target="_blank">
                    <svg class="icon icon--world-nomads"><use xlink:href="images/_sprite.svg#icon--world-nomads"></use></svg>
                </a>
            </div>
        </div>
    </div>

    <div class="c-copyright">
        <div class="l-container">
            <div class="c-copyright__text">
                Copyright © 2013-2018 PlanetOfHotels.com™. Все права защищены.
            </div>
        </div>
    </div>
</footer>