<header class="l-header l-header--bg">
    <div class="l-container">
        <div class="l-header__wrap">
            <a class="c-logo" href="index.html">
                <svg class="icon icon--logo"><use xlink:href="images/_sprite.svg#icon--logo"></use></svg>
            </a>


            <!-- c-menu - start -->
            <a class="c-menu__button" href="#c-menu"></a>
            <nav class="c-menu" id="c-menu">
                <div class="c-menu__panel">
                    <div class="c-menu__panel--close"></div>
                </div>
                <div class="c-menu__list">
                    <div class="c-menu__item">
                        <a class="c-menu__link c-menu__link--1" href="javascript:void(0)">
                            Отели
                        </a>
                    </div>
                    <div class="c-menu__item">
                        <a class="c-menu__link c-menu__link--1" href="javascript:void(0)">
                            Авто
                        </a>
                    </div>
                    <div class="c-menu__item">
                        <a class="c-menu__link c-menu__link--1" href="javascript:void(0)">
                            Авиабилеты
                        </a>
                    </div>
                    <div class="c-menu__item">
                        <a class="c-menu__link c-menu__link--1" href="javascript:void(0)">
                            Экскурсии
                        </a>
                    </div>
                    <div class="c-menu__item c-menu__item--parent">
                        <a class="c-menu__link c-menu__link--1" href="javascript:void(0)">
                            Путеводитель
                        </a>
                        <div class="c-menu__dropdown">
                            <a class="c-menu__link c-menu__link--2" href="javascript:void(0)">
                                Направления
                            </a>
                            <a class="c-menu__link c-menu__link--2" href="javascript:void(0)">
                                Достопримечательности
                            </a>
                            <a class="c-menu__link c-menu__link--2" href="javascript:void(0)">
                                Публикации
                            </a>
                            <a class="c-menu__link c-menu__link--2" href="javascript:void(0)">
                                Экскурсии
                            </a>
                        </div>
                    </div>
                    <div class="c-menu__item c-menu__add">
                        <a class="c-menu__link c-menu__link--1" href="#c-choice--language">
                            <span class="c-menu__link--text">
                                Сменить язык
                            </span>
                            <span class="c-menu__link--choice" data-choice="language">
                                RU
                            </span>
                        </a>
                    </div>
                    <div class="c-menu__item c-menu__add">
                        <a class="c-menu__link c-menu__link--1" href="#c-choice--currency">
                            <span class="c-menu__link--text">
                                Сменить валюту
                            </span>
                            <span class="c-menu__link--choice" data-choice="currency">
                                UAH
                            </span>
                        </a>
                    </div>
                    <div class="c-menu__item c-menu__add">
                        <a class="c-menu__link c-menu__link--1" href="javascript:void(0)">
                            <span class="c-menu__link--text">
                                Войдите или создайте профиль
                            </span>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- c-menu - end -->


            <!-- c-choice (currency) - start -->
            <div class="c-choice c-choice--currency" id="c-choice--currency">
                <div class="c-choice__panel">
                    <div class="c-choice__panel--back"></div>
                    <div class="c-choice__panel--title">
                        Сменить валюту
                    </div>
                    <div class="c-choice__panel--close"></div>
                </div>
                <div class="c-choice__selected" data-choice="currency">
                    UAH
                </div>
                <div class="c-choice__dropdown">
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            AMD
                        </span>
                        <span class="c-choice__link--title">
                            Армянский драм
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            AUD
                        </span>
                        <span class="c-choice__link--title">
                            Австралийский доллар
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            BYN
                        </span>
                        <span class="c-choice__link--title">
                            Белорусский рубль
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            EUR
                        </span>
                        <span class="c-choice__link--title">
                            Евро
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            GBP
                        </span>
                        <span class="c-choice__link--title">
                            Фунт стерлингов
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            KGS
                        </span>
                        <span class="c-choice__link--title">
                            Киргизский сом
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            KZT
                        </span>
                        <span class="c-choice__link--title">
                            Казахский тенге
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            RUB
                        </span>
                        <span class="c-choice__link--title">
                            Российский рубль
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            TJS
                        </span>
                        <span class="c-choice__link--title">
                            Таджикский сомони
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            TMT
                        </span>
                        <span class="c-choice__link--title">
                            Туркменский манат
                        </span>
                    </span>
                    <span class="c-choice__link c-choice__link--check">
                        <span class="c-choice__link--abbr">
                            UAH
                        </span>
                        <span class="c-choice__link--title">
                            Украинская гривна
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            AMD
                        </span>
                        <span class="c-choice__link--title">
                            Армянский драм
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            AUD
                        </span>
                        <span class="c-choice__link--title">
                            Австралийский доллар
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            BYN
                        </span>
                        <span class="c-choice__link--title">
                            Белорусский рубль
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            EUR
                        </span>
                        <span class="c-choice__link--title">
                            Евро
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            GBP
                        </span>
                        <span class="c-choice__link--title">
                            Фунт стерлингов
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            KGS
                        </span>
                        <span class="c-choice__link--title">
                            Киргизский сом
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            KZT
                        </span>
                        <span class="c-choice__link--title">
                            Казахский тенге
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            RUB
                        </span>
                        <span class="c-choice__link--title">
                            Российский рубль
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            TJS
                        </span>
                        <span class="c-choice__link--title">
                            Таджикский сомони
                        </span>
                    </span>
                    <span class="c-choice__link">
                        <span class="c-choice__link--abbr">
                            TMT
                        </span>
                        <span class="c-choice__link--title">
                            Туркменский манат
                        </span>
                    </span>
                    <span class="c-choice__link c-choice__link--check">
                        <span class="c-choice__link--abbr">
                            UAH
                        </span>
                        <span class="c-choice__link--title">
                            Украинская гривна
                        </span>
                    </span>
                </div>
            </div>
            <!-- c-choice (currency) - end -->


            <!-- c-choice (language) - start -->
            <div class="c-choice c-choice--language" id="c-choice--language">
                <div class="c-choice__panel">
                    <div class="c-choice__panel--back"></div>
                    <div class="c-choice__panel--title">
                        Сменить язык
                    </div>
                    <div class="c-choice__panel--close"></div>
                </div>
                <div class="c-choice__selected" data-choice="language">
                    RU
                </div>
                <div class="c-choice__dropdown">
                    <a class="c-choice__link" href="javascript:void(0)">
                        <div class="c-choice__link--abbr">
                            EN
                        </div>
                        <div class="c-choice__link--title">
                            English
                        </div>
                    </a>
                    <a class="c-choice__link" href="javascript:void(0)">
                        <div class="c-choice__link--abbr">
                            FR
                        </div>
                        <div class="c-choice__link--title">
                            Français
                        </div>
                    </a>
                    <a class="c-choice__link" href="javascript:void(0)">
                        <div class="c-choice__link--abbr">
                            DE
                        </div>
                        <div class="c-choice__link--title">
                            Deutsch
                        </div>
                    </a>
                    <a class="c-choice__link" href="javascript:void(0)">
                        <div class="c-choice__link--abbr">
                            IT
                        </div>
                        <div class="c-choice__link--title">
                            Italiano
                        </div>
                    </a>
                    <a class="c-choice__link c-choice__link--check" href="javascript:void(0)">
                        <div class="c-choice__link--abbr">
                            RU
                        </div>
                        <div class="c-choice__link--title">
                            Русский
                        </div>
                    </a>
                    <a class="c-choice__link" href="javascript:void(0)">
                        <div class="c-choice__link--abbr">
                            ES
                        </div>
                        <div class="c-choice__link--title">
                            Espanol
                        </div>
                    </a>
                </div>
            </div>
            <!-- c-choice (language) - end -->


            <a class="c-login__link" href="javascript:void(0)">
                <svg class="icon icon--login"><use xlink:href="images/_sprite.svg#icon--login"></use></svg>
            </a>
        </div>
    </div>
</header>