<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/latest_news/1.png" alt="image">
            </div>
            <div class="c-box__absolute c-box__absolute--row">
                <div class="c-box__tag c-box__tag--yellow">
                    Города
                </div>
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box__data">
                <div class="c-box__data--date">
                    15.08.2018
                </div>
                <div class="c-box__data--separator"></div>
                <div class="c-box__data--review">
                    10
                    <svg class="icon icon--review"><use xlink:href="images/_sprite.svg#icon--review"></use></svg>
                </div>
            </div>
            <div class="c-box__title c-box--black c-box--fs-24">
                Популярные маршруты этого лета
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/latest_news/2.png" alt="image">
            </div>
            <div class="c-box__absolute c-box__absolute--row">
                <div class="c-box__tag c-box__tag--green">
                    Места
                </div>
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box__data">
                <div class="c-box__data--date">
                    15.08.2018
                </div>
                <div class="c-box__data--separator"></div>
                <div class="c-box__data--review">
                    10
                    <svg class="icon icon--review"><use xlink:href="images/_sprite.svg#icon--review"></use></svg>
                </div>
            </div>
            <div class="c-box__title c-box--black c-box--fs-24">
                Популярные маршруты этого лета
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/latest_news/3.png" alt="image">
            </div>
            <div class="c-box__absolute c-box__absolute--row">
                <div class="c-box__tag c-box__tag--yellow">
                    Города
                </div>
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box__data">
                <div class="c-box__data--date">
                    15.08.2018
                </div>
                <div class="c-box__data--separator"></div>
                <div class="c-box__data--review">
                    10
                    <svg class="icon icon--review"><use xlink:href="images/_sprite.svg#icon--review"></use></svg>
                </div>
            </div>
            <div class="c-box__title c-box--black c-box--fs-24">
                Популярные маршруты этого лета
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/latest_news/2.png" alt="image">
            </div>
            <div class="c-box__absolute c-box__absolute--row">
                <div class="c-box__tag c-box__tag--green">
                    Места
                </div>
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box__data">
                <div class="c-box__data--date">
                    15.08.2018
                </div>
                <div class="c-box__data--separator"></div>
                <div class="c-box__data--review">
                    10
                    <svg class="icon icon--review"><use xlink:href="images/_sprite.svg#icon--review"></use></svg>
                </div>
            </div>
            <div class="c-box__title c-box--black c-box--fs-24">
                Популярные маршруты этого лета
            </div>
        </div>
    </div>
</div>