<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/popular_hotels/1.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Hotel Status
            </div>
            <div class="c-star c-star--disabled">
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
            </div>
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                от 245$
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/popular_hotels/2.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Hotel Villa Daffodil
            </div>
            <div class="c-star c-star--disabled">
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
            </div>
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                от 245$
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/popular_hotels/3.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Yeniceri City Hotel
            </div>
            <div class="c-star c-star--disabled">
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
            </div>
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                от 245$
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/popular_hotels/4.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Hotel Delta
            </div>
            <div class="c-star c-star--disabled">
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
            </div>
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                от 245$
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/popular_hotels/5.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Besik Hotel
            </div>
            <div class="c-star c-star--disabled">
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
            </div>
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                от 245$
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="images/popular_hotels/3.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Yeniceri City Hotel
            </div>
            <div class="c-star c-star--disabled">
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
                <div class="c-star__item c-star__item--active">
                    <svg class="icon icon--star"><use xlink:href="images/_sprite.svg#icon--star"></use></svg>
                </div>
            </div>
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                от 245$
            </div>
        </div>
    </div>
</div>