<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="https://dummyimage.com/200x270/8BBAE5/fff.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Колизей
            </div>
            <div>
                11 км от города
            </div>
            <div class="c-box__text">
                Букингемский дворец на протяжении
                многих лет является официальной
                резиденцией королевы Англии.
                Однако известен он на весь мир не
                только этим. В этом месте
                располагается центральный штаб
                монархии Королевства.
                Однако известен он на весь мир не
                только этим.
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="https://dummyimage.com/200x270/8BBAE5/fff.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Фонтан Треви
            </div>
            <div>
                11 км от города
            </div>
            <div class="c-box__text">
                Букингемский дворец на протяжении
                многих лет является официальной
                резиденцией королевы Англии.
                Однако известен он на весь мир не
                только этим. В этом месте
                располагается центральный штаб
                монархии Королевства.
                Однако известен он на весь мир не
                только этим.
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="https://dummyimage.com/200x270/8BBAE5/fff.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Колизей
            </div>
            <div>
                11 км от города
            </div>
            <div class="c-box__text">
                Букингемский дворец на протяжении
                многих лет является официальной
                резиденцией королевы Англии.
                Однако известен он на весь мир не
                только этим. В этом месте
                располагается центральный штаб
                монархии Королевства.
                Однако известен он на весь мир не
                только этим.
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="https://dummyimage.com/200x270/8BBAE5/fff.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Фонтан Треви
            </div>
            <div>
                11 км от города
            </div>
            <div class="c-box__text">
                Букингемский дворец на протяжении
                многих лет является официальной
                резиденцией королевы Англии.
                Однако известен он на весь мир не
                только этим. В этом месте
                располагается центральный штаб
                монархии Королевства.
                Однако известен он на весь мир не
                только этим.
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="https://dummyimage.com/200x270/8BBAE5/fff.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Колизей
            </div>
            <div>
                11 км от города
            </div>
            <div class="c-box__text">
                Букингемский дворец на протяжении
                многих лет является официальной
                резиденцией королевы Англии.
                Однако известен он на весь мир не
                только этим. В этом месте
                располагается центральный штаб
                монархии Королевства.
                Однако известен он на весь мир не
                только этим.
            </div>
        </div>
    </div>
</div>
<div class="c-slick__item">
    <div class="c-box">
        <a class="c-box__top" href="javascript:void(0)" target="_blank">
            <div class="c-box__img">
                <img src="https://dummyimage.com/200x270/8BBAE5/fff.png" alt="image">
            </div>
        </a>
        <div class="c-box__bottom">
            <div class="c-box--fs-18 c-box--fw-900 c-box--black">
                Фонтан Треви
            </div>
            <div>
                11 км от города
            </div>
            <div class="c-box__text">
                Букингемский дворец на протяжении
                многих лет является официальной
                резиденцией королевы Англии.
                Однако известен он на весь мир не
                только этим. В этом месте
                располагается центральный штаб
                монархии Королевства.
                Однако известен он на весь мир не
                только этим.
            </div>
        </div>
    </div>
</div>