{% extends '../layout.twig' %}

{% block head_title %}Choose date | Planet of Hotels{% endblock %}

{% block body_class %}l-body{% endblock %}

{% block body %}

    <div class="c-modal c-modal--1100 c-modal--active">
        <div class="c-modal__wrap">
            <div class="c-modal__content c-modal--pt-0 max-1151">
                <div class="l-row l-row--bg-gray-light">
                    <div class="l-row">
                        <div class="c-date__title">
                            Выберете даты
                        </div>
                    </div>
                    <div class="l-row">
                        <div class="c-date__calendar">
                            <div class="c-date__calendar--column">
                                <div class="c-date__calendar--input">
                                    <input type="text" placeholder="Дата заезда">
                                    <img src="images/all/room__search-calendar.svg" alt="image">
                                </div>
                            </div>
                            <div class="c-date__calendar--column">
                                <div class="c-date__calendar--input">
                                    <input type="text" placeholder="Дата отъезда">
                                    <img src="images/all/room__search-calendar.svg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-row">
                        <div class="c-take c-take--choose">
                            <div class="c-take__row">
                                <div class="c-take__column">
                                    <div class="c-take__text">
                                        Улучшенный Номер 
                                        (Двуспальная Кровать)
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <div class="c-room__table--guest">
                                        <img src="images/all/room__user.svg" alt="image">
                                        <img src="images/all/room__user.svg" alt="image">
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <a class="c-take__button" href="javascript:void(0);">
                                       Показать цены
                                    </a>
                                </div>
                            </div>
                            <div class="c-take__row">
                                <div class="c-take__column">
                                    <div class="c-take__text">
                                        Улучшенный Номер 
                                        (Двуспальная Кровать)
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <div class="c-room__table--guest">
                                        <img src="images/all/room__user.svg" alt="image">
                                        <span>x</span>
                                        <span>5</span>
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <a class="c-take__button" href="javascript:void(0);">
                                       Показать цены
                                    </a>
                                </div>
                            </div>
                            <div class="c-take__row">
                                <div class="c-take__column">
                                    <div class="c-take__text">
                                        Улучшенный Номер 
                                        (Двуспальная Кровать)
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <div class="c-room__table--guest">
                                        <img src="images/all/room__user.svg" alt="image">
                                        <img src="images/all/room__user.svg" alt="image">
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <a class="c-take__button" href="javascript:void(0);">
                                       Показать цены
                                    </a>
                                </div>
                            </div>
                            <div class="c-take__row">
                                <div class="c-take__column">
                                    <div class="c-take__text">
                                        Улучшенный Номер 
                                        (Двуспальная Кровать)
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <div class="c-room__table--guest">
                                        <img src="images/all/room__user.svg" alt="image">
                                        <img src="images/all/room__user.svg" alt="image">
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <a class="c-take__button" href="javascript:void(0);">
                                       Показать цены
                                    </a>
                                </div>
                            </div>
                            <div class="c-take__row">
                                <div class="c-take__column">
                                    <div class="c-take__text">
                                        Улучшенный Номер 
                                        (Двуспальная Кровать)
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <div class="c-room__table--guest">
                                        <img src="images/all/room__user.svg" alt="image">
                                        <img src="images/all/room__user.svg" alt="image">
                                    </div>
                                </div>
                                <div class="c-take__column">
                                    <a class="c-take__button" href="javascript:void(0);">
                                       Показать цены
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-row">
                        <a class="c-more" href="javascript:void(0);">
                            Показать еще 16
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}