{% extends '../layout.twig' %}

{% block head_title %}City-City | Planet of Hotels{% endblock %}

{% block body_class %}l-body{% endblock %}

{% block body %}

{% include '../partials/l-header.twig' %}

<div class="c-banner c-banner--70vh">
  <picture class="c-banner__picture">
    <img src="images/banners/2.jpg" alt="image">
  </picture>
  <div class="l-container">
    <div class="c-banner__wrap">
      <div class="c-banner__info c-banner__info--max-w-1080">
        <div class="c-tab c-tab--booking c-tab--difficult">
          <div class="c-tab__title">
            <h1 class="c-tab__title--h1">
              Авиабилеты Лондон - Париж
            </h1>
            <div class="c-tab__title--sub min-1152">
              Мы подыщем для вас самые выгодные предложения на авиаперелеты
            </div>
          </div>
          <div class="c-tab__nav c-tab__nav--radio">
            <label class="c-tab__label" data-form="c-booking--difficult">
              <input type="radio" name="searchForm" checked>
              <span class="c-tab__label--radio"></span>
              Туда и обратно
            </label>
            <label class="c-tab__label" data-form="c-booking--one-way">
              <input type="radio" name="searchForm">
              <span class="c-tab__label--radio"></span>
              В одну сторону
            </label>
            <label class="c-tab__label" data-form="c-booking--complex">
              <input type="radio" name="searchForm">
              <span class="c-tab__label--radio"></span>
              Сложный маршрут
            </label>
          </div>
          <div class="c-tab__nav max-1151">
            <a class="c-tab__link" href="javascript:void(0)" data-title="Отели">
              <div class="c-tab__link--inner">
                <svg class="icon icon--bed-1">
                  <use xlink:href="images/_sprite.svg#icon--bed-1"></use>
                </svg>
                Отели
              </div>
            </a>
            <a class="c-tab__link c-tab__link--active" href="javascript:void(0)" data-title="Авиабилеты">
              <div class="c-tab__link--inner">
                <svg class="icon icon--plane">
                  <use xlink:href="images/_sprite.svg#icon--plane"></use>
                </svg>
                Авиабилеты
              </div>
            </a>
            <a class="c-tab__link" href="javascript:void(0)" data-title="Аренда авто">
              <div class="c-tab__link--inner">
                <svg class="icon icon--car">
                  <use xlink:href="images/_sprite.svg#icon--car"></use>
                </svg>
                Аренда авто
              </div>
            </a>
            <a class="c-tab__link" href="javascript:void(0)" data-title="Экскурсии">
              <div class="c-tab__link--inner">
                <svg class="icon icon--ticket">
                  <use xlink:href="images/_sprite.svg#icon--ticket"></use>
                </svg>
                Экскурсии
              </div>
            </a>
          </div>
          <div class="c-tab__content">
            <div class="c-tab__item c-tab__item--active">
              <form class="c-booking c-booking--difficult c-form">
                <div class="c-booking__column c-booking__column--from" data-title="Откуда">
                  <div class="c-booking__input">
                    <input type="text" placeholder="Откуда" autocomplete="off" required />
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                  <div class="c-booking__dropdown">
                    <div class="c-booking__dropdown--item">
                      <div class="c-checkbox">
                        <label class="c-checkbox__label">
                          <input type="checkbox" name="checkbox">
                          <span class="c-checkbox__icon"></span>
                          <span class="c-checkbox__title">
                            и аэропорты рядом
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--pin">
                          <use xlink:href="images/_sprite.svg#icon--pin"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан - Все аэропорты
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <a class="c-booking__dropdown--item" href="javascript:void(0)">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--passport">
                          <use xlink:href="images/_sprite.svg#icon--passport"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info c-booking__dropdown--arrow">
                        <div class="c-booking__dropdown--location">
                          Думаете, куда бы съездить?
                        </div>
                        <div class="c-booking__dropdown--region">
                          Поиск «Куда угодно» покажет все доступные варианты
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--where" data-title="Куда">
                  <div class="c-booking__change">
                    <svg class="icon icon--change">
                      <use xlink:href="images/_sprite.svg#icon--change"></use>
                    </svg>
                  </div>
                  <div class="c-booking__input">
                    <input type="text" placeholder="Куда" autocomplete="off" required />
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                  <div class="c-booking__dropdown">
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Милан (MXP)
                        </div>
                        <div class="c-booking__dropdown--region">
                          Италия
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--when" data-title="Когда">
                  <div class="c-booking__input">
                    <input type="text" placeholder="Когда" autocomplete="off" required />
                    <svg class="icon icon--calendar">
                      <use xlink:href="images/_sprite.svg#icon--calendar"></use>
                    </svg>
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                </div>


                <div class="c-booking__column c-booking__column--clone c-booking__column--from" data-title="Откуда">
                  <div class="c-booking__input">
                    <input type="text" placeholder="Откуда" autocomplete="off" required />
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                  <div class="c-booking__dropdown">
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--pin">
                          <use xlink:href="images/_sprite.svg#icon--pin"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--pin">
                          <use xlink:href="images/_sprite.svg#icon--pin"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Итальянская Ривьера
                        </div>
                        <div class="c-booking__dropdown--region">
                          Регион - Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Аэропорт Рим
                        </div>
                        <div class="c-booking__dropdown--region">
                          Город - Лацио, Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--bed-2">
                          <use xlink:href="images/_sprite.svg#icon--bed-2"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Intercontinental Rome
                        </div>
                        <div class="c-booking__dropdown--region">
                          Регион - Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--monastery">
                          <use xlink:href="images/_sprite.svg#icon--monastery"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Колизей
                        </div>
                        <div class="c-booking__dropdown--region">
                          Регион - Италия
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--clone c-booking__column--where" data-title="Куда">
                  <div class="c-booking__change">
                    <svg class="icon icon--change">
                      <use xlink:href="images/_sprite.svg#icon--change"></use>
                    </svg>
                  </div>
                  <div class="c-booking__input">
                    <input type="text" placeholder="Куда" autocomplete="off" required />
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                  <div class="c-booking__dropdown">
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--pin">
                          <use xlink:href="images/_sprite.svg#icon--pin"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--pin">
                          <use xlink:href="images/_sprite.svg#icon--pin"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Итальянская Ривьера
                        </div>
                        <div class="c-booking__dropdown--region">
                          Регион - Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--plane">
                          <use xlink:href="images/_sprite.svg#icon--plane"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Аэропорт Рим
                        </div>
                        <div class="c-booking__dropdown--region">
                          Город - Лацио, Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--bed-2">
                          <use xlink:href="images/_sprite.svg#icon--bed-2"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Intercontinental Rome
                        </div>
                        <div class="c-booking__dropdown--region">
                          Регион - Италия
                        </div>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item">
                      <div class="c-booking__dropdown--icon">
                        <svg class="icon icon--monastery">
                          <use xlink:href="images/_sprite.svg#icon--monastery"></use>
                        </svg>
                      </div>
                      <div class="c-booking__dropdown--info">
                        <div class="c-booking__dropdown--location">
                          Колизей
                        </div>
                        <div class="c-booking__dropdown--region">
                          Регион - Италия
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--clone c-booking__column--when" data-title="Когда">
                  <div class="c-booking__input">
                    <input type="text" placeholder="Когда" autocomplete="off" required />
                    <svg class="icon icon--calendar">
                      <use xlink:href="images/_sprite.svg#icon--calendar"></use>
                    </svg>
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                  <div class="c-booking__remove"></div>
                </div>


                <div class="c-booking__column c-booking__column--visit" data-title="Туда">
                  <div class="c-booking__input">
                    <input type="text" placeholder="Туда" autocomplete="off" required />
                    <svg class="icon icon--calendar">
                      <use xlink:href="images/_sprite.svg#icon--calendar"></use>
                    </svg>
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--leaving" data-title="Обратно">
                  <div class="c-booking__input">
                    <input type="text" placeholder="Обратно" autocomplete="off" required />
                    <svg class="icon icon--calendar">
                      <use xlink:href="images/_sprite.svg#icon--calendar"></use>
                    </svg>
                    <span class="c-booking__input--clear">
                      Очистить
                    </span>
                    <span class="c-booking__input--close"></span>
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--add">
                  <div class="c-booking__input c-booking__add">
                    <svg class="icon icon--more">
                      <use xlink:href="images/_sprite.svg#icon--more"></use>
                    </svg>
                    Добавить перелет
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--passengers" data-title="Пассажиры, класс">
                  <div class="c-booking__input">
                    <div class="c-booking__input--column">
                      <span id="c-booking__count--adult">1</span> взрослый, эконом
                    </div>
                    <svg class="icon icon--user">
                      <use xlink:href="images/_sprite.svg#icon--user"></use>
                    </svg>
                    <span class="c-booking__input--close">
                      Готово
                    </span>
                  </div>
                  <div class="c-booking__dropdown" id="c-booking__count">
                    <div class="c-booking__dropdown--header c-booking__dropdown--passengers">
                      Пассажиры
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h">
                      <div class="c-booking__dropdown--title">
                        Взрослые
                        <small>
                          Старше 16 лет
                        </small>
                      </div>
                      <div class="c-booking__count">
                        <a class="c-booking__count--minus" href="#c-booking__count--adult"></a>
                        <div class="c-booking__count--value">1</div>
                        <a class="c-booking__count--plus" href="#c-booking__count--adult"></a>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h">
                      <div class="c-booking__dropdown--title">
                        Дети
                        <small>
                          От 2 -15 лет
                        </small>
                      </div>
                      <div class="c-booking__count">
                        <a class="c-booking__count--minus" href="#c-booking__count--default"></a>
                        <div class="c-booking__count--value">0</div>
                        <a class="c-booking__count--plus" href="#c-booking__count--default"></a>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h c-booking__dropdown--pb-10">
                      <div class="c-booking__dropdown--title">
                        Младенцы
                        <small>
                          От 2 -15 лет
                        </small>
                      </div>
                      <div class="c-booking__count">
                        <a class="c-booking__count--minus" href="#c-booking__count--default"></a>
                        <div class="c-booking__count--value">0</div>
                        <a class="c-booking__count--plus" href="#c-booking__count--default"></a>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--header c-booking__dropdown--bt c-booking__dropdown--service">
                      Класс обслуживания
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h">
                      <div class="c-radio">
                        <label class="c-radio__label">
                          <input type="radio" name="serviceClass" checked>
                          <span class="c-radio__icon"></span>
                          <span class="c-radio__title">
                            Эконом
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h">
                      <div class="c-radio">
                        <label class="c-radio__label">
                          <input type="radio" name="serviceClass">
                          <span class="c-radio__icon"></span>
                          <span class="c-radio__title">
                            Первый
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h">
                      <div class="c-radio">
                        <label class="c-radio__label">
                          <input type="radio" name="serviceClass">
                          <span class="c-radio__icon"></span>
                          <span class="c-radio__title">
                            Бизнес
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h">
                      <div class="c-radio">
                        <label class="c-radio__label">
                          <input type="radio" name="serviceClass">
                          <span class="c-radio__icon"></span>
                          <span class="c-radio__title">
                            Премиум-эконом
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item c-booking--no-pointer c-booking__dropdown--bt-0 c-booking__dropdown--h c-booking__dropdown--pb-10">
                      <div class="c-radio">
                        <label class="c-radio__label">
                          <input type="radio" name="serviceClass">
                          <span class="c-radio__icon"></span>
                          <span class="c-radio__title">
                            Разные
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="c-booking__dropdown--item c-booking__dropdown--done">
                      Готово
                    </div>
                  </div>
                </div>
                <div class="c-booking__column c-booking__column--submit">
                  <button class="c-button c-button--blue min-1152" type="submit">
                    <span class="c-button__inner">
                      <svg class="icon icon--search">
                        <use xlink:href="images/_sprite.svg#icon--search"></use>
                      </svg>
                    </span>
                  </button>
                  <button class="c-button c-button--blue max-1151" type="submit">
                    <span class="c-button__inner">
                      Найти билеты
                    </span>
                  </button>
                </div>
                <label class="c-booking__flights-only c-tab__label c-tab__label--absolute min-1152">
                  <input type="checkbox" name="directFlightsOnly">
                  <span class="c-tab__label--radio"></span>
                  Только рейсы без пересадок
                </label>
                <div class="c-booking__reset c-tab__label--absolute min-1152">
                  <svg class="icon icon--clear">
                    <use xlink:href="images/_sprite.svg#icon--clear"></use>
                  </svg>
                  Cбросить все
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="c-crumb min-1152">
        <a class="c-crumb__link" href="javascript:void(0)">
          Дешевые авиабилеты
        </a>
        <div class="c-crumb__separator"></div>
        <a class="c-crumb__link" href="javascript:void(0)">
          Великобритания
        </a>
        <div class="c-crumb__separator"></div>
        <span class="c-crumb__link c-crumb__link--current">
          Лондон
        </span>
      </div>
    </div>
  </div>
</div>

<main class="l-main">
  <div class="l-container">

    <div class="l-row">
      <div class="c-crumb max-1151">
        <a class="c-crumb__link" href="javascript:void(0)">
          Дешевые авиабилеты
        </a>
        <div class="c-crumb__separator"></div>
        <a class="c-crumb__link" href="javascript:void(0)">
          Великобритания
        </a>
        <div class="c-crumb__separator"></div>
        <span class="c-crumb__link c-crumb__link--current">
          Лондон
        </span>
      </div>
    </div>

    <!-- Самые дешевые авиабилеты Лондон - Париж - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-40">
      <h2 class="c-title c-title--left-max-1151">
        Самые дешевые авиабилеты Лондон - Париж
      </h2>
    </div>
    <div class="l-row l-row--w-1000 l-row--mt-40" id="c-show__chip-flights">
      <div class="c-title__text c-title__text--gray">
        <p>
          Наибольшей популярностью билеты в Москву пользуются в апреле, мае и декабре . Низким сезоном для покупки билетов является январь, февраль и август .Город Москва обслуживается аэропортами: Домодедово, Шереметьево, Жуковский и Внуково. Прямые рейсы в Москву выполняются 82 авиакомпаниями . Больше всего рейсов выполняет авиакомпания Аэрофлот. Прямые рейсы из Узбекистана в Москву выполняют авиакомпании Аэрофлот, Utair, S7 Airlines, Победа, Уральские авиалинии и Руслайн в Санкт-Петербург, в Екатеринбург, в Ростов-на-Дону, в Самару, в Краснодар, в Сочи и др.
        </p>
        <div class="c-title__text--fs-20">
          Прямой рейс из Лондона в Париж
        </div>
        <p>
          Рейсы с пересадкой, как правило, дешевле. Такими рейсами летают авиакомпании: летают авиакомпании Utair, Уральские авиалинии, S7 Airlines, Комиавиатранс, NordStar и Руслайн в Сургут, в Иркутск, в Екатеринбург, во Владивосток, в Уфу, в Красноярск и др.
        </p>
        <p>
          В зависимости от количества дней, оставшихся до вылета, цена билета на самолет в Москву может измениться более чем на 118%.Советует купить авиабилеты в Москву заранее, чтобы вы могли выбирать условия перелета, ориентируясь на свои пожелания и финансовые возможности.
        </p>
        <p class="c-show--hidden">
          В зависимости от количества дней, оставшихся до вылета, цена билета на самолет в Москву может измениться более чем на 118%.Советует купить авиабилеты в Москву заранее, чтобы вы могли выбирать условия перелета, ориентируясь на свои пожелания и финансовые возможности.
        </p>
        <p class="c-show--hidden">
          В зависимости от количества дней, оставшихся до вылета, цена билета на самолет в Москву может измениться более чем на 118%.Советует купить авиабилеты в Москву заранее, чтобы вы могли выбирать условия перелета, ориентируясь на свои пожелания и финансовые возможности.
        </p>
      </div>
    </div>
    <div class="l-row l-row--w-1000">
      <a class="c-show" href="#c-show__chip-flights">
        <span class="c-show__text" data-collapse="Свернуть">
          Читать все
        </span>
      </a>
    </div>
    <div class="l-row l-row--w-1000 l-row--mt-80 l-row--bg-gray-max-1151 l-row--bg-gray-line">
      <div class="c-tab">
        <div class="c-tab__nav">
          <a class="c-tab__link c-tab__link--active" href="#c-tab__18-1" data-title="Быстрый"></a>
          <a class="c-tab__link" href="#c-tab__18-2" data-title="Дешевый"></a>
        </div>
        <div class="c-tab__content _c-tab__content--pt-30">
          <div class="c-tab__item c-tab__item--active" id="c-tab__18-1">
            <div class="c-ticket">
              <div class="c-ticket__column c-ticket--grow">
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Lufthansa Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/lufthansa.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      1 пересадка
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Emirates Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/emirates.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      2 пересадки
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-ticket__column">
                <div class="c-ticket__price">
                  <span class="c-ticket__price--value">
                    6500
                  </span>
                  <span class="c-ticket__price--currency">
                    UAH
                  </span>
                  <a class="c-ticket__price--button c-button c-button--blue" href="javascript:void(0)">
                    Найти похожее
                  </a>
                </div>
              </div>
            </div>
            <div class="c-ticket">
              <div class="c-ticket__column c-ticket--grow">
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Lufthansa Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/lufthansa.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      1 пересадка
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Emirates Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/emirates.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      2 пересадки
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-ticket__column">
                <div class="c-ticket__price">
                  <span class="c-ticket__price--value">
                    6500
                  </span>
                  <span class="c-ticket__price--currency">
                    UAH
                  </span>
                  <a class="c-ticket__price--button c-button c-button--blue" href="javascript:void(0)">
                    Найти похожее
                  </a>
                </div>
              </div>
            </div>
            <div class="c-ticket">
              <div class="c-ticket__column c-ticket--grow">
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Lufthansa Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/lufthansa.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      1 пересадка
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Emirates Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/emirates.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      2 пересадки
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-ticket__column">
                <div class="c-ticket__price">
                  <span class="c-ticket__price--value">
                    6500
                  </span>
                  <span class="c-ticket__price--currency">
                    UAH
                  </span>
                  <a class="c-ticket__price--button c-button c-button--blue" href="javascript:void(0)">
                    Найти похожее
                  </a>
                </div>
              </div>
            </div>
            <div class="c-ticket">
              <div class="c-ticket__column c-ticket--grow">
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Lufthansa Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/lufthansa.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      1 пересадка
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
                <div class="c-ticket__row">
                  <div class="c-ticket__airline">
                    <div class="c-ticket__airline--name">
                      Emirates Airline
                    </div>
                    <div class="c-ticket__airline--logo">
                      <img src="images/logo_avia/emirates.svg" alt="image">
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      15:45 KBP
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                  <div class="c-ticket__way">
                    <div class="c-ticket__way--time">
                      В пути 11 ч 30 м
                    </div>
                    <div class="c-ticket__way--line">
                      <div class="c-ticket__way--dot"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                      <div class="c-ticket__way--dot"></div>
                    </div>
                    <div class="c-ticket__way--transfer">
                      2 пересадки
                    </div>
                  </div>
                  <div class="c-ticket__info">
                    <div class="c-ticket__info--time">
                      23:45 BVA
                    </div>
                    <div class="c-ticket__info--date">
                      29 января 2020, Среда
                    </div>
                    <div class="c-ticket__info--airport">
                      Аэропорт Киев Борисполь
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-ticket__column">
                <div class="c-ticket__price">
                  <span class="c-ticket__price--value">
                    6500
                  </span>
                  <span class="c-ticket__price--currency">
                    UAH
                  </span>
                  <a class="c-ticket__price--button c-button c-button--blue" href="javascript:void(0)">
                    Найти похожее
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="c-tab__item" id="c-tab__18-2">
            Контент...
          </div>
        </div>
      </div>
    </div>
    <div class="l-row l-row--w-1000 l-row--bg-gray-max-1151">
      <div class="c-all">
        <a class="c-all__link" href="javascript:void(0)">
          Смотреть все
        </a>
      </div>
    </div>
    <!-- Самые дешевые авиабилеты Лондон - Париж - end -->


    <!-- Информация по перелетам Лондон–Париж - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Информация по перелетам Лондон–Париж
      </h2>
    </div>
    <div class="l-row">
      <div class="c-info">
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Самый дешевый билет<br>туда - обратно
          </div>
          <div class="c-info__data">
            2460 <span class="c-info__data--add">uah</span>
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-1">
              <use xlink:href="images/_sprite.svg#icon--info-1"></use>
            </svg>
          </div>
        </a>
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Количество прямых<br>авиалиний
          </div>
          <div class="c-info__data">
            4 <span class="c-info__data--add">uah</span>
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-2">
              <use xlink:href="images/_sprite.svg#icon--info-2"></use>
            </svg>
          </div>
        </a>
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Количество рейсов<br>в неделю
          </div>
          <div class="c-info__data">
            96 <span class="c-info__data--add">uah</span>
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-3">
              <use xlink:href="images/_sprite.svg#icon--info-3"></use>
            </svg>
          </div>
        </a>
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Среднее время<br>в пути
          </div>
          <div class="c-info__data">
            2 <span class="c-info__data--add c-info__data--time">ч</span>
          </div>
          <div class="c-info__data">
            55 <span class="c-info__data--add c-info__data--time">мин</span>
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-4">
              <use xlink:href="images/_sprite.svg#icon--info-4"></use>
            </svg>
          </div>
        </a>
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Общее расстояние<br>перелета
          </div>
          <div class="c-info__data">
            1746 <span class="c-info__data--add">км</span>
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-5">
              <use xlink:href="images/_sprite.svg#icon--info-5"></use>
            </svg>
          </div>
        </a>
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Самая популярная<br>авиакомпания
          </div>
          <div class="c-info__data">
            <img src="images/logo_avia/lufthansa.svg" alt="image">
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-6">
              <use xlink:href="images/_sprite.svg#icon--info-6"></use>
            </svg>
          </div>
        </a>
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Количество<br>аэропортов
          </div>
          <div class="c-info__data">
            5
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-7">
              <use xlink:href="images/_sprite.svg#icon--info-7"></use>
            </svg>
          </div>
        </a>
        <a class="c-info__item" href="javascript:void(0)">
          <div class="c-info__title">
            Стоимость билета<br>Первого класса
          </div>
          <div class="c-info__data">
            9460 <span class="c-info__data--add">uah</span>
          </div>
          <div class="c-info__icon">
            <svg class="icon icon--info-8">
              <use xlink:href="images/_sprite.svg#icon--info-8"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <!-- Информация по перелетам Лондон–Париж - Париж - end -->


    <!-- Популярные рейсы в Лондон - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Популярные рейсы в Лондон
      </h2>
    </div>
    <div class="l-row">
      <div class="c-route c-slick c-slick__popular-flights c-slick--m-0-min--1152">
        {% include '../partials/c-route.twig' %}
        {% include '../partials/c-route.twig' %}
      </div>
    </div>
    <!-- Популярные рейсы в Лондон - end -->


    <!-- Авиакомпании с прямыми рейсами Лондон - Париж - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Авиакомпании с прямыми рейсами Лондон - Париж
      </h2>
    </div>
    <div class="l-row l-row--mt-10 min-1152">
      <div class="c-title c-title--sub">
        Ниже перечислены все авиакомпаниии осуществляющие перелеты Лондон - Париж
      </div>
    </div>
    <div class="l-row">
      <div class="c-airlines" id="c-show__airlines">
        <div class="c-airlines__column">
          {% include '../partials/c-airlines.twig' %}
        </div>
        <div class="c-airlines__column">
          {% include '../partials/c-airlines.twig' %}
        </div>
        <div class="c-airlines__column">
          {% include '../partials/c-airlines.twig' %}
        </div>
        <div class="c-airlines__column">
          {% include '../partials/c-airlines.twig' %}
        </div>
        <div class="c-airlines__column">
          {% include '../partials/c-airlines.twig' %}
        </div>
      </div>
    </div>
    <div class="l-row l-row--w-1000 min-768">
      <a class="c-show" href="#c-show__airlines">
        <span class="c-show__text" data-collapse="Свернуть">
          Показать все
        </span>
      </a>
    </div>
    <!-- Авиакомпании с прямыми рейсами Лондон - Париж - end -->


    <!-- Популярные рейсы в Лондон - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Популярные рейсы в Лондон
      </h2>
    </div>
    <div class="l-row l-row--mt-10 min-1152">
      <div class="c-title c-title--sub">
        Популярные рейсы в Лондон с указанием лучшей цены и минимального времени в пути
      </div>
    </div>
    <div class="l-row">
      <div class="c-tab">
        <div class="c-tab__nav">
          <a class="c-tab__link c-tab__link--active" href="#c-tab__22-1" data-title="Авиабилеты в"></a>
          <a class="c-tab__link" href="#c-tab__22-2" data-title="Авиабилеты из"></a>
        </div>
        <div class="c-tab__content c-tab__content--pt-30">
          <div class="c-tab__item c-tab__item--active" id="c-tab__22-1">
            <div class="c-route c-route--popular-flights-city c-slick c-slick__popular-flights-city c-slick--m-0-min--1152">
              {% include '../partials/c-route--popular-flights-city.twig' %}
              {% include '../partials/c-route--popular-flights-city.twig' %}
              {% include '../partials/c-route--popular-flights-city.twig' %}
              {% include '../partials/c-route--popular-flights-city.twig' %}
            </div>
          </div>
          <div class="c-tab__item" id="c-tab__22-2">
            Контент...
          </div>
        </div>
      </div>
    </div>
    <!-- Популярные рейсы в Лондон - end -->


    <!-- Расписание прямых рейсов Лондон - Париж - start -->
    <div class="l-row l-row--mt-80 l-row--bg-gray">
      <div class="l-row l-row--flex l-row--between l-row--align-end">
        <h2 class="c-title c-title--left-max-1151">
          Расписание прямых рейсов Лондон - Париж
        </h2>
      </div>
      <div class="l-row l-row--w-1000">
        <div class="c-ticket__table" id="c-show__ticket">
          <div class="c-ticket__table--row c-ticket__table--header">
            <div class="c-ticket__table--column c-ticket__table--flight-info">
              <div class="c-ticket__table--title">
                Информация о рейсе
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--departure">
              <div class="c-ticket__table--title c-ticket__table--sort">
                Вылет
                <svg class="icon icon--sort-caret">
                  <use xlink:href="images/_sprite.svg#icon--sort-caret"></use>
                </svg>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--line">
              <div class="c-ticket__table--title">

              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--arrival">
              <div class="c-ticket__table--title c-ticket__table--sort">
                Прилет
                <svg class="icon icon--sort-caret">
                  <use xlink:href="images/_sprite.svg#icon--sort-caret"></use>
                </svg>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--route">
              <div class="c-ticket__table--title">
                Маршрут
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--flight-schedule">
              <div class="c-ticket__table--title">
                График полетов
              </div>
            </div>
          </div>
          <div class="c-ticket__table--row">
            <div class="c-ticket__table--column c-ticket__table--flight-info">
              <div class="c-ticket__airline">
                <div class="c-ticket__airline--logo">
                  <img class="max-1151" src="images/logo_avia-icon/icon-lufthansa.svg" alt="image">
                  <img class="min-1152" src="images/logo_avia/lufthansa.svg" alt="image">
                </div>
              </div>
              <div class="c-ticket__info">
                <div class="c-ticket__info--number">
                  BA460
                </div>
                <div class="c-ticket__info--airport">
                  Lufthansa Airline
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--departure">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  15:45
                </div>
                <div class="c-ticket__info--airport">
                  KBP
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--line">
              <div class="c-ticket__way">
                <div class="c-ticket__way--line">
                  <div class="c-ticket__way--dot"></div>
                  <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                </div>
              </div>
              <svg class="icon icon--arrow-right max-1151">
                <use xlink:href="images/_sprite.svg#icon--arrow-right"></use>
              </svg>
            </div>
            <div class="c-ticket__table--column c-ticket__table--arrival">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  23:45
                </div>
                <div class="c-ticket__info--airport">
                  BVA
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--route">
              <div class="c-ticket__route">
                Лондон — Мадрид
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--flight-schedule">
              <div class="c-ticket__calendar min-1152">
                <div class="c-ticket__calendar--item">
                  Пн
                </div>
                <div class="c-ticket__calendar--item">
                  Вт
                </div>
                <div class="c-ticket__calendar--item">
                  Ср
                </div>
                <div class="c-ticket__calendar--item">
                  Чт
                </div>
                <div class="c-ticket__calendar--item">
                  Пт
                </div>
                <div class="c-ticket__calendar--item">
                  Сб
                </div>
                <div class="c-ticket__calendar--item">
                  Вс
                </div>
              </div>
              <a class="c-ticket__button c-button c-button--blue min-1152" href="javascript:void(0)">
                Найти похожее
              </a>
              <a class="c-ticket__arrow max-1151" href="javascript:void(0)"></a>
            </div>
          </div>
          <div class="c-ticket__table--row">
            <div class="c-ticket__table--column c-ticket__table--flight-info">
              <div class="c-ticket__airline">
                <div class="c-ticket__airline--logo">
                  <img class="max-1151" src="images/logo_avia-icon/icon-lufthansa.svg" alt="image">
                  <img class="min-1152" src="images/logo_avia/lufthansa.svg" alt="image">
                </div>
              </div>
              <div class="c-ticket__info">
                <div class="c-ticket__info--number">
                  BA460
                </div>
                <div class="c-ticket__info--airport">
                  Lufthansa Airline
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--departure">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  15:45
                </div>
                <div class="c-ticket__info--airport">
                  KBP
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--line">
              <div class="c-ticket__way">
                <div class="c-ticket__way--line">
                  <div class="c-ticket__way--dot"></div>
                  <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                </div>
              </div>
              <svg class="icon icon--arrow-right max-1151">
                <use xlink:href="images/_sprite.svg#icon--arrow-right"></use>
              </svg>
            </div>
            <div class="c-ticket__table--column c-ticket__table--arrival">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  23:45
                </div>
                <div class="c-ticket__info--airport">
                  BVA
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--route">
              <div class="c-ticket__route">
                Лондон — Мадрид
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--flight-schedule">
              <div class="c-ticket__calendar min-1152">
                <div class="c-ticket__calendar--item">
                  Пн
                </div>
                <div class="c-ticket__calendar--item">
                  Вт
                </div>
                <div class="c-ticket__calendar--item">
                  Ср
                </div>
                <div class="c-ticket__calendar--item">
                  Чт
                </div>
                <div class="c-ticket__calendar--item">
                  Пт
                </div>
                <div class="c-ticket__calendar--item">
                  Сб
                </div>
                <div class="c-ticket__calendar--item">
                  Вс
                </div>
              </div>
              <a class="c-ticket__button c-button c-button--blue min-1152" href="javascript:void(0)">
                Найти похожее
              </a>
              <a class="c-ticket__arrow max-1151" href="javascript:void(0)"></a>
            </div>
          </div>
          <div class="c-ticket__table--row">
            <div class="c-ticket__table--column c-ticket__table--flight-info">
              <div class="c-ticket__airline">
                <div class="c-ticket__airline--logo">
                  <img class="max-1151" src="images/logo_avia-icon/icon-lufthansa.svg" alt="image">
                  <img class="min-1152" src="images/logo_avia/lufthansa.svg" alt="image">
                </div>
              </div>
              <div class="c-ticket__info">
                <div class="c-ticket__info--number">
                  BA460
                </div>
                <div class="c-ticket__info--airport">
                  Lufthansa Airline
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--departure">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  15:45
                </div>
                <div class="c-ticket__info--airport">
                  KBP
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--line">
              <div class="c-ticket__way">
                <div class="c-ticket__way--line">
                  <div class="c-ticket__way--dot"></div>
                  <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                </div>
              </div>
              <svg class="icon icon--arrow-right max-1151">
                <use xlink:href="images/_sprite.svg#icon--arrow-right"></use>
              </svg>
            </div>
            <div class="c-ticket__table--column c-ticket__table--arrival">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  23:45
                </div>
                <div class="c-ticket__info--airport">
                  BVA
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--route">
              <div class="c-ticket__route">
                Лондон — Мадрид
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--flight-schedule">
              <div class="c-ticket__calendar min-1152">
                <div class="c-ticket__calendar--item">
                  Пн
                </div>
                <div class="c-ticket__calendar--item">
                  Вт
                </div>
                <div class="c-ticket__calendar--item">
                  Ср
                </div>
                <div class="c-ticket__calendar--item">
                  Чт
                </div>
                <div class="c-ticket__calendar--item">
                  Пт
                </div>
                <div class="c-ticket__calendar--item">
                  Сб
                </div>
                <div class="c-ticket__calendar--item">
                  Вс
                </div>
              </div>
              <a class="c-ticket__button c-button c-button--blue min-1152" href="javascript:void(0)">
                Найти похожее
              </a>
              <a class="c-ticket__arrow max-1151" href="javascript:void(0)"></a>
            </div>
          </div>
          <div class="c-ticket__table--row c-show--hidden">
            <div class="c-ticket__table--column c-ticket__table--flight-info">
              <div class="c-ticket__airline">
                <div class="c-ticket__airline--logo">
                  <img class="max-1151" src="images/logo_avia-icon/icon-lufthansa.svg" alt="image">
                  <img class="min-1152" src="images/logo_avia/lufthansa.svg" alt="image">
                </div>
              </div>
              <div class="c-ticket__info">
                <div class="c-ticket__info--number">
                  BA460
                </div>
                <div class="c-ticket__info--airport">
                  Lufthansa Airline
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--departure">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  15:45
                </div>
                <div class="c-ticket__info--airport">
                  KBP
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--line">
              <div class="c-ticket__way">
                <div class="c-ticket__way--line">
                  <div class="c-ticket__way--dot"></div>
                  <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                </div>
              </div>
              <svg class="icon icon--arrow-right max-1151">
                <use xlink:href="images/_sprite.svg#icon--arrow-right"></use>
              </svg>
            </div>
            <div class="c-ticket__table--column c-ticket__table--arrival">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  23:45
                </div>
                <div class="c-ticket__info--airport">
                  BVA
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--route">
              <div class="c-ticket__route">
                Лондон — Мадрид
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--flight-schedule">
              <div class="c-ticket__calendar min-1152">
                <div class="c-ticket__calendar--item">
                  Пн
                </div>
                <div class="c-ticket__calendar--item">
                  Вт
                </div>
                <div class="c-ticket__calendar--item">
                  Ср
                </div>
                <div class="c-ticket__calendar--item">
                  Чт
                </div>
                <div class="c-ticket__calendar--item">
                  Пт
                </div>
                <div class="c-ticket__calendar--item">
                  Сб
                </div>
                <div class="c-ticket__calendar--item">
                  Вс
                </div>
              </div>
              <a class="c-ticket__button c-button c-button--blue min-1152" href="javascript:void(0)">
                Найти похожее
              </a>
              <a class="c-ticket__arrow max-1151" href="javascript:void(0)"></a>
            </div>
          </div>
          <div class="c-ticket__table--row c-show--hidden">
            <div class="c-ticket__table--column c-ticket__table--flight-info">
              <div class="c-ticket__airline">
                <div class="c-ticket__airline--logo">
                  <img class="max-1151" src="images/logo_avia-icon/icon-lufthansa.svg" alt="image">
                  <img class="min-1152" src="images/logo_avia/lufthansa.svg" alt="image">
                </div>
              </div>
              <div class="c-ticket__info">
                <div class="c-ticket__info--number">
                  BA460
                </div>
                <div class="c-ticket__info--airport">
                  Lufthansa Airline
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--departure">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  15:45
                </div>
                <div class="c-ticket__info--airport">
                  KBP
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--line">
              <div class="c-ticket__way">
                <div class="c-ticket__way--line">
                  <div class="c-ticket__way--dot"></div>
                  <div class="c-ticket__way--dot c-ticket__way--bg"></div>
                </div>
              </div>
              <svg class="icon icon--arrow-right max-1151">
                <use xlink:href="images/_sprite.svg#icon--arrow-right"></use>
              </svg>
            </div>
            <div class="c-ticket__table--column c-ticket__table--arrival">
              <div class="c-ticket__info">
                <div class="c-ticket__info--time">
                  23:45
                </div>
                <div class="c-ticket__info--airport">
                  BVA
                </div>
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--route">
              <div class="c-ticket__route">
                Лондон — Мадрид
              </div>
            </div>
            <div class="c-ticket__table--column c-ticket__table--flight-schedule">
              <div class="c-ticket__calendar min-1152">
                <div class="c-ticket__calendar--item">
                  Пн
                </div>
                <div class="c-ticket__calendar--item">
                  Вт
                </div>
                <div class="c-ticket__calendar--item">
                  Ср
                </div>
                <div class="c-ticket__calendar--item">
                  Чт
                </div>
                <div class="c-ticket__calendar--item">
                  Пт
                </div>
                <div class="c-ticket__calendar--item">
                  Сб
                </div>
                <div class="c-ticket__calendar--item">
                  Вс
                </div>
              </div>
              <a class="c-ticket__button c-button c-button--blue min-1152" href="javascript:void(0)">
                Найти похожее
              </a>
              <a class="c-ticket__arrow max-1151" href="javascript:void(0)"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="l-row l-row--w-1000">
        <a class="c-show" href="#c-show__ticket">
          <span class="c-show__text" data-collapse="Свернуть">
            Показать все
          </span>
        </a>
      </div>
    </div>
    <!-- Расписание прямых рейсов Лондон - Париж - end -->


    <!-- Аэропорты Лондона выполняющие рейсы в Париж - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Аэропорты Лондона выполняющие рейсы в Париж
      </h2>
    </div>
    <div class="l-row l-row--mt-10 min-1152">
      <div class="c-title c-title--sub">
        Ниже перечислены все аэропорты в Лондоне с указанием расстояния до центра города
      </div>
    </div>
    <div class="l-row">
      <div class="c-airport">
        <a class="c-airport__item" href="javascript:void(0)">
          <div class="c-airport__icon">
            <svg class="icon icon--pin-airport">
              <use xlink:href="images/_sprite.svg#icon--pin-airport"></use>
            </svg>
          </div>
          <div class="c-airport__content">
            <div class="c-airport__title">
              Саутенд
            </div>
            <div class="c-airport__text">
              London Southend Airport, SEN
            </div>
            <div class="c-airport__location">
              11 км от центра города
            </div>
          </div>
        </a>
        <a class="c-airport__item" href="javascript:void(0)">
          <div class="c-airport__icon">
            <svg class="icon icon--pin-airport">
              <use xlink:href="images/_sprite.svg#icon--pin-airport"></use>
            </svg>
          </div>
          <div class="c-airport__content">
            <div class="c-airport__title">
              Саутенд
            </div>
            <div class="c-airport__text">
              London Southend Airport, SEN
            </div>
            <div class="c-airport__location">
              11 км от центра города
            </div>
          </div>
        </a>
        <a class="c-airport__item" href="javascript:void(0)">
          <div class="c-airport__icon">
            <svg class="icon icon--pin-airport">
              <use xlink:href="images/_sprite.svg#icon--pin-airport"></use>
            </svg>
          </div>
          <div class="c-airport__content">
            <div class="c-airport__title">
              Саутенд
            </div>
            <div class="c-airport__text">
              London Southend Airport, SEN
            </div>
            <div class="c-airport__location">
              11 км от центра города
            </div>
          </div>
        </a>
        <a class="c-airport__item" href="javascript:void(0)">
          <div class="c-airport__icon">
            <svg class="icon icon--pin-airport">
              <use xlink:href="images/_sprite.svg#icon--pin-airport"></use>
            </svg>
          </div>
          <div class="c-airport__content">
            <div class="c-airport__title">
              Саутенд
            </div>
            <div class="c-airport__text">
              London Southend Airport, SEN
            </div>
            <div class="c-airport__location">
              11 км от центра города
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Аэропорты Лондона выполняющие рейсы в Париж - end -->


    <!-- Аэропорты Парижа принимающие рейсы из Лондона - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Аэропорты Парижа принимающие рейсы из Лондона
      </h2>
    </div>
    <div class="l-row l-row--mt-10 min-1152">
      <div class="c-title c-title--sub">
        Ниже перечислены все аэропорты в Лондоне с указанием расстояния до центра города
      </div>
    </div>
    <div class="l-row">
      <div class="c-airport">
        <a class="c-airport__item" href="javascript:void(0)">
          <div class="c-airport__icon">
            <svg class="icon icon--pin-airport">
              <use xlink:href="images/_sprite.svg#icon--pin-airport"></use>
            </svg>
          </div>
          <div class="c-airport__content">
            <div class="c-airport__title">
              Саутенд
            </div>
            <div class="c-airport__text">
              London Southend Airport, SEN
            </div>
            <div class="c-airport__location">
              11 км от центра города
            </div>
          </div>
        </a>
        <a class="c-airport__item" href="javascript:void(0)">
          <div class="c-airport__icon">
            <svg class="icon icon--pin-airport">
              <use xlink:href="images/_sprite.svg#icon--pin-airport"></use>
            </svg>
          </div>
          <div class="c-airport__content">
            <div class="c-airport__title">
              Саутенд
            </div>
            <div class="c-airport__text">
              London Southend Airport, SEN
            </div>
            <div class="c-airport__location">
              11 км от центра города
            </div>
          </div>
        </a>
        <a class="c-airport__item" href="javascript:void(0)">
          <div class="c-airport__icon">
            <svg class="icon icon--pin-airport">
              <use xlink:href="images/_sprite.svg#icon--pin-airport"></use>
            </svg>
          </div>
          <div class="c-airport__content">
            <div class="c-airport__title">
              Саутенд
            </div>
            <div class="c-airport__text">
              London Southend Airport, SEN
            </div>
            <div class="c-airport__location">
              11 км от центра города
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Аэропорты Парижа принимающие рейсы из Лондона - end -->


    <!-- Популярные рейсы на Planet of Hotels - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Популярные рейсы на Planet of Hotels
      </h2>
    </div>
    <div class="l-row">
      <div class="c-ph">
        <div class="c-ph__column">
          <h3 class="c-ph__title">
            Самые популярные билеты из Лондона
          </h3>
          <div class="c-ph__list">
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
          </div>
        </div>
        <div class="c-ph__column">
          <h3 class="c-ph__title">
            Самые популярные билеты в Париж
          </h3>
          <div class="c-ph__list">
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
            <a class="c-ph__list--item" href="javascript:void(0)">
              <div class="c-ph__list--title">
                Париж - Мехико-Сити
              </div>
              <div class="c-ph__list--price">
                от 19594 UAH
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Популярные рейсы на Planet of Hotels - end -->


    <!-- Дешевые билеты в другие города - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Дешевые билеты в другие города
      </h2>
    </div>
    <div class="l-row l-row--mt-10 min-1152">
      <div class="c-title c-title--sub">
        Ниже перечислены все аэропорты в Лондоне с указанием расстояния до центра города
      </div>
    </div>
    <div class="l-row">
      <div class="c-cheap">
        {% include '../partials/c-cheap.twig' %}
        {% include '../partials/c-cheap.twig' %}
        {% include '../partials/c-cheap.twig' %}
        {% include '../partials/c-cheap.twig' %}
      </div>
    </div>
    <!-- Дешевые билеты в другие города - end -->


    <!-- Часто задаваемые вопросы - start -->
    <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-80">
      <h2 class="c-title c-title--left-max-1151">
        Часто задаваемые вопросы
      </h2>
    </div>
    <div class="l-row">
      <div class="c-accordion c-accordion--faq">
        <div class="c-accordion__column">
          <div class="c-accordion__item _c-accordion--active">
            <div class="c-accordion__title">
              Можно ли вернуть авиабилет?
            </div>
            <div class="c-accordion__content">
              Информация об условиях возврата билета указана на сайтах конкретных агентств и авиакомпаний. Узнать обо всех нюансах вы можете в процессе осуществления бронирования. Как правило, возможность возврата зависит от конкретного авиаперевозчика, тарифа, политики компании, а также периода, в который вы хотите совершить возврат
            </div>
          </div>
          <div class="c-accordion__item">
            <div class="c-accordion__title">
              Можно купить авиабилет с открытой датой вылета?
            </div>
            <div class="c-accordion__content">
              Если вас интересуют отели в Лондоне с высокой оценкой за завтраки, рассмотрите
              <a href="javascript:void(0)" target="_blank">
                Intercontinental London - The O2, The Montague On The Gardens, Apex London Wall Hotel.
              </a>
            </div>
          </div>
          <div class="c-accordion__item">
            <div class="c-accordion__title">
              Можно ли изменить даты вылета/прилета?
            </div>
            <div class="c-accordion__content">
              Если вас интересуют отели в Лондоне с высокой оценкой за завтраки, рассмотрите
              <a href="javascript:void(0)" target="_blank">
                Intercontinental London - The O2, The Montague On The Gardens, Apex London Wall Hotel.
              </a>
            </div>
          </div>
        </div>
        <div class="c-accordion__column">
          <div class="c-accordion__item">
            <div class="c-accordion__title">
              Сколько держится бронь билета?
            </div>
            <div class="c-accordion__content">
              Если вас интересуют отели в Лондоне с высокой оценкой за завтраки, рассмотрите
              <a href="javascript:void(0)" target="_blank">
                Intercontinental London - The O2, The Montague On The Gardens, Apex London Wall Hotel.
              </a>
            </div>
          </div>
          <div class="c-accordion__item">
            <div class="c-accordion__title">
              Когда лучше покупать билеты?
            </div>
            <div class="c-accordion__content">
              Если вас интересуют отели в Лондоне с высокой оценкой за завтраки, рассмотрите
              <a href="javascript:void(0)" target="_blank">
                Intercontinental London - The O2, The Montague On The Gardens, Apex London Wall Hotel.
              </a>
            </div>
          </div>
          <div class="c-accordion__item">
            <div class="c-accordion__title">
              Можно ли аннулировать бронирование?
            </div>
            <div class="c-accordion__content">
              Если вас интересуют отели в Лондоне с высокой оценкой за завтраки, рассмотрите
              <a href="javascript:void(0)" target="_blank">
                Intercontinental London - The O2, The Montague On The Gardens, Apex London Wall Hotel.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Часто задаваемые вопросы - end -->








  </div>
</main>

{% include '../partials/l-footer.twig' %}

{% endblock %}