{% extends '../layout.twig' %}

{% block head_title %}Index | Planet of Hotels{% endblock %}

{% block body_class %}l-body{% endblock %}

{% block body %}

<style>
  ol {
    margin: 20px;
    font-family: monospace;
  }

  ol li+li {
    margin-top: 6px;
  }
</style>


<ol>
  <li>
    <a href="main.html" target="_blank" rel="nofollow">
      main
    </a>
  </li>
  <li>
    <a href="europe.html" target="_blank" rel="nofollow">
      europe
    </a>
  </li>
  <li>
    <a href="country.html" target="_blank" rel="nofollow">
      country
    </a>
  </li>
  <li>
    <a href="city_seo.html" target="_blank" rel="nofollow">
      city_seo
    </a>
  </li>
  <li>
    <a href="avia.html" target="_blank" rel="nofollow">
      avia
    </a>
  </li>
  <li>
    <a href="all_cities.html" target="_blank" rel="nofollow">
      all_cities
    </a>
  </li>
  <li>
    <a href="city_city.html" target="_blank" rel="nofollow">
      city_city
    </a>
  </li>
  <li>
    <a href="catalog.html" target="_blank" rel="nofollow">
      catalog
    </a>
  </li>
  <li>
    <a href="hotel.html" target="_blank" rel="nofollow">
      hotel
    </a>
  </li>
  <li>
    <a href="hotel_without_dates.html" target="_blank" rel="nofollow">
      hotel without dates
    </a>
  </li>
  <li>
    <a href="modal.html" target="_blank" rel="nofollow">
      modal
    </a>
  </li>
  <li>
    <a href="review_mobile-1.html" target="_blank" rel="nofollow">
      review_mobile-1
    </a>
  </li>
  <li>
    <a href="review_mobile-2.html" target="_blank" rel="nofollow">
      review_mobile-2
    </a>
  </li>
  <li>
    <a href="choose-date_mobile.html" target="_blank" rel="nofollow">
      choose-date_mobile
    </a>
  </li>
  <li>
    <a href="auto.html" target="_blank" rel="nofollow">
      auto
    </a>
  </li>
  <li>
    <a href="avis.html" target="_blank" rel="nofollow">
      avis
    </a>
  </li>
</ol>

{% endblock %}