{% extends '../layout.twig' %}

{% block head_title %}Modal | Planet of Hotels{% endblock %}

{% block body_class %}l-body{% endblock %}

{% block body %}

    <div class="c-modal c-modal--1100 c-modal--active">
        <div class="c-modal__wrap">
            <div class="c-modal__content c-modal--pt-0 max-1151">
                <div class="c-modal__panel">
                    <div class="c-modal__panel--back"></div>
                    <div class="c-modal__panel--close"></div>
                </div>
                <div class="l-row l-row--mt-60">
                    <div class="c-modal__title">
                        Double or Twin Room
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__tag">
                        <a class="c-modal__tag--item" href="#">
                            Балкон
                        </a>
                        <a class="c-modal__tag--item" href="#">
                            Вид на горы
                        </a>
                        <a class="c-modal__tag--item" href="#">
                            Доставка еды
                        </a>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal--fs-12">
                        Fairfield Inn & Suites by Marriott New York Manhattan
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-slick__wrap">
                        <div class="c-modal__slick c-slick c-slick__modal" id="c-modal__slick">
                            <a class="c-modal__slick--item" href="images/gallery/1.jpg">
                                <img src="images/gallery/1-small.jpg" alt="image">
                            </a>
                            <a class="c-modal__slick--item" href="images/gallery/2.jpg">
                                <img src="images/gallery/2-small.jpg" alt="image">
                            </a>
                            <a class="c-modal__slick--item" href="images/gallery/3.jpg">
                                <img src="images/gallery/3-small.jpg" alt="image">
                            </a>
                        </div>
                        <div class="c-modal__quantity"></div>
                    </div>
                </div>
                <div class="l-row l-row--mt-20">
                    <div class="c-modal__text">
                        Двухместный номер с 1 кроватью или 2 отдельны-ми кроватями, кондиционером, электрическим чайником и окном.
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__list--row">
                        <div class="c-modal__list--600 c-modal__list--mr-10">
                            Вмещает:
                        </div>
                        <div>
                            <span class="c-modal__list--user">
                                <img src="images/all/room__user.svg" alt="image">
                                <img src="images/all/room__user.svg" alt="image">
                            </span>
                            2 взрослых
                        </div>
                    </div>
                </div>
                <div class="l-row l-row--mt-0">
                    <div class="c-modal__list--row">
                        <div class="c-modal__list--600 c-modal__list--mr-10">
                            Кровати:
                        </div>
                        <div>
                            1 двуспальная кровать
                        </div>
                    </div>
                </div>
                <div class="l-row l-row--mt-0">
                    <div class="c-modal__list--row">
                        <div class="c-modal__list--600 c-modal__list--mr-10">
                            Размер номера:
                        </div>
                        <div>
                            15 м²
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__line"></div>
                </div>
                <div class="l-row">
                    <div class="c-modal__accordion c-modal__accordion--active">
                        <div class="c-modal__accordion--title">
                            Общая информация
                        </div>
                        <div class="c-modal__accordion--text">
                            <div class="l-row l-row--mt-0">
                                <div class="c-modal__list--row">
                                    <div class="c-modal__list--600 c-modal__list--mr-10">
                                        Кровати:
                                    </div>
                                    <div>
                                        1 двуспальная кровать
                                    </div>
                                </div>
                            </div>
                            <div class="l-row l-row--mt-0">
                                <div class="c-modal__list--row">
                                    <div class="c-modal__list--600 c-modal__list--mr-10">
                                        Размер номера:
                                    </div>
                                    <div>
                                        15 м²
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__line"></div>
                </div>
                <div class="l-row">
                    <div class="c-modal__accordion c-modal__accordion--active">
                        <div class="c-modal__accordion--title">
                            Питание
                        </div>
                        <div class="c-modal__accordion--text">
                            Завтрак можно добавить за UAH 322 с человека за ночь.
                        </div>
                        <div class="c-modal__accordion--title c-modal__accordion--mt-10 c-modal__accordion--no-arrow">
                            Завтрак
                        </div>
                        <div class="c-modal__accordion--text c-modal__accordion--flex">
                            <span class="c-modal__accordion--check">
                                <img src="images/all/icon__check-green.svg" alt="image">
                            </span>
                            Подают в объекте размещения
                        </div>
                        <div class="c-modal__accordion--title c-modal__accordion--mt-10 c-modal__accordion--no-arrow">
                            Еда
                        </div>
                        <ul class="c-modal__accordion--content">
                            <li class="c-modal__accordion--item">
                                Хлеб
                            </li>
                            <li class="c-modal__accordion--item">
                                Выпечка
                            </li>
                            <li class="c-modal__accordion--item">
                                Оладьи/блины
                            </li>
                            <li class="c-modal__accordion--item">
                                Масло
                            </li>
                            <li class="c-modal__accordion--item">
                                Сыр
                            </li>
                            <li class="c-modal__accordion--item">
                                Мясное ассорти
                            </li>
                            <li class="c-modal__accordion--item">
                                Яйца
                            </li>
                            <li class="c-modal__accordion--item">
                                Йогурт
                            </li>
                            <li class="c-modal__accordion--item">
                                Фрукты
                            </li>
                            <li class="c-modal__accordion--item">
                                Джем
                            </li>
                        </ul>
                        <div class="c-modal__accordion--title c-modal__accordion--mt-10 c-modal__accordion--no-arrow">
                            Напитки
                        </div>
                        <ul class="c-modal__accordion--content">
                            <li class="c-modal__accordion--item">
                                Кофе
                            </li>
                            <li class="c-modal__accordion--item">
                                Чай
                            </li>
                            <li class="c-modal__accordion--item">
                                Фреш
                            </li>
                            <li class="c-modal__accordion--item">
                                Фруктовый сок
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__line"></div>
                </div>
                <div class="l-row">
                    <div class="c-modal__accordion c-modal__accordion--active">
                        <div class="c-modal__accordion--title">
                            В ванной комнате
                        </div>
                        <ul class="c-modal__accordion--content">
                            <li class="c-modal__accordion--item">
                                Хлеб
                            </li>
                            <li class="c-modal__accordion--item">
                                Выпечка
                            </li>
                            <li class="c-modal__accordion--item">
                                Оладьи/блины
                            </li>
                            <li class="c-modal__accordion--item">
                                Масло
                            </li>
                            <li class="c-modal__accordion--item">
                                Сыр
                            </li>
                            <li class="c-modal__accordion--item">
                                Мясное ассорти
                            </li>
                            <li class="c-modal__accordion--item">
                                Яйца
                            </li>
                            <li class="c-modal__accordion--item">
                                Йогурт
                            </li>
                            <li class="c-modal__accordion--item">
                                Фрукты
                            </li>
                            <li class="c-modal__accordion--item">
                                Джем
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__line"></div>
                </div>
                <div class="l-row">
                    <div class="c-modal__accordion c-modal__accordion--active">
                        <div class="c-modal__accordion--title">
                            В номере
                        </div>
                        <ul class="c-modal__accordion--content">
                            <li class="c-modal__accordion--item">
                                Хлеб
                            </li>
                            <li class="c-modal__accordion--item">
                                Выпечка
                            </li>
                            <li class="c-modal__accordion--item">
                                Оладьи/блины
                            </li>
                            <li class="c-modal__accordion--item">
                                Масло
                            </li>
                            <li class="c-modal__accordion--item">
                                Сыр
                            </li>
                            <li class="c-modal__accordion--item">
                                Мясное ассорти
                            </li>
                            <li class="c-modal__accordion--item">
                                Яйца
                            </li>
                            <li class="c-modal__accordion--item">
                                Йогурт
                            </li>
                            <li class="c-modal__accordion--item">
                                Фрукты
                            </li>
                            <li class="c-modal__accordion--item">
                                Джем
                            </li>
                        </ul>
                        <div class="c-modal__accordion--more">
                            Развернуть
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__line"></div>
                </div>
                <div class="l-row">
                    <div class="c-modal__accordion c-modal__accordion--active">
                        <div class="c-modal__accordion--title">
                            Парковка: 
                        </div>
                        <div class="c-modal__accordion--text">
                            Частная парковка на месте (предварительный заказ невозможен) возможна по цене EUR 7 за день.
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__line"></div>
                </div>
                <div class="l-row">
                    <div class="c-modal__accordion c-modal__accordion--active">
                        <div class="c-modal__accordion--title">
                            Курение: 
                        </div>
                        <div class="c-modal__accordion--text">
                            <div class="c-modal__list--row">
                                <div class="c-modal__list--600 c-modal__list--mr-10">
                                    Курение:
                                </div>
                                <div>
                                    Запрещено
                                </div>
                            </div>
                            В варианте размещения есть отдельная зона для курения
                        </div>
                    </div>
                </div>
                <div class="l-row l-row--mt-40">
                    <a class="c-button c-button--blue c-button--fs-12" href="#">
                        <div class="c-button__inner">
                            НАЗАД К ОПЦИЯМ
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="c-modal__content min-1152">
                <div class="l-row">
                    <div class="c-modal__title">
                        Double or Twin Room
                    </div>
                </div>
                <div class="l-row l-row--mt-20 l-row--flex">
                    <div class="c-modal__slider">
                        <div class="c-modal__slider--big c-slick">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                        </div>
                        <div class="c-modal__slider--small c-slick">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="c-modal__list">
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--title">
                                Информация о номере
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--text">
                                Двухместный номер с 1 кроватью или 2 отдельными кроватями, кондиционером, электрическим чайником и окном.
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--line"></div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--fs-16 c-modal__list--600 c-modal__list--mr-10">
                                Размер номера:
                            </div>
                            <div>
                                21 м²
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--fs-16 c-modal__list--600">
                                Услуги и удобства: ​
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <ul class="c-modal__list--column">
                                <li class="c-modal__list--item">
                                    Кофеварка/чайник
                                </li>
                                <li class="c-modal__list--item">
                                    Телефон
                                </li>
                                <li class="c-modal__list--item">
                                    Кондиционер
                                </li>
                                <li class="c-modal__list--item">
                                    Утюг
                                </li>
                                <li class="c-modal__list--item">
                                    Мини-кухня
                                </li>
                                <li class="c-modal__list--item">
                                    Рабочий стол
                                </li>
                                <li class="c-modal__list--item">
                                    Отопление
                                </li>
                                <li class="c-modal__list--item">
                                    Ковровое покрытие
                                </li>
                                <li class="c-modal__list--item">
                                    Сейф для ноутбука
                                </li>
                                <li class="c-modal__list--item">
                                    Телевизор с плоским экраном
                                </li>
                                <li class="c-modal__list--item">
                                    Услуга «звонок-будильник»
                                </li>
                                <li class="c-modal__list--item">
                                    Электрический чайник
                                </li>
                                <li class="c-modal__list--item">
                                    Шкаф или гардероб
                                </li>
                                <li class="c-modal__list--item">
                                    Кофемашина
                                </li>
                                <li class="c-modal__list--item">
                                    Лифт для доступа к верхним этажам
                                </li>
                            </ul>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--row">
                                <div class="c-modal__list--fs-16 c-modal__list--600 c-modal__list--mr-10">
                                    Курение:
                                </div>
                                <div>
                                    Запрещено
                                </div>
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--row">
                                <div class="c-modal__list--fs-16 c-modal__list--600 c-modal__list--mr-10">
                                    Парковка:
                                </div>
                                <div>
                                    Парковка отсутствует
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-row l-row--mt-20">
                    <div class="c-modal__title c-modal--fw-900">
                        Введите даты чтобы проверить наличие мест
                    </div>
                </div>
                <div class="l-row l-row--mt-20">
                    <form class="c-modal__form">
                        <div class="c-modal__form--row">
                            <div class="c-modal__form--column">
                                <div class="c-modal__form--icon">
                                    <img src="images/all/room__search-calendar.svg" alt="image">
                                </div>
                                <input type="text" placeholder="Дата заезда" required>
                                <div class="c-modal__form--arrow">
                                    <div class="c-modal__form--prev"></div>
                                    <div class="c-modal__form--next"></div>
                                </div>    
                            </div>
                            <div class="c-modal__form--column">
                                <div class="c-modal__form--icon">
                                    <img src="images/all/room__search-calendar.svg" alt="image">
                                </div>
                                <input type="text" placeholder="Дата заезда" required>
                                <div class="c-modal__form--arrow">
                                    <div class="c-modal__form--prev"></div>
                                    <div class="c-modal__form--next"></div>
                                </div>    
                            </div>
                            <div class="c-modal__form--column c-modal__form--pr-0">
                                <div class="c-modal__form--icon">
                                    <img src="images/all/modal__bed.svg" alt="image">
                                </div>
                                <input type="text" placeholder="2 взрослых - 0 детей - 1 номер" required>    
                            </div>
                            <div class="c-modal__form--column">
                                <button class="c-modal__form--button c-button c-button--blue" type="submit">
                                    <span class="c-button__inner">
                                        <svg class="icon icon--search"><use xlink:href="images/_sprite.svg#icon--search"></use></svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="l-row l-row--mt-20">
                    <div class="c-checkbox">
                        <label class="c-checkbox__label">
                            <input type="checkbox" name="checkbox" checked>
                            <span class="c-checkbox__icon"></span>
                            <span class="c-checkbox__title c-checkbox--pt-2">
                                Показать цены на других сайтах в новом окне
                            </span>
                        </label>
                    </div>
                </div>
                <div class="l-row l-row--mt-20">
                    <div class="c-modal__title c-modal--fw-900 c-modal--fs-18">
                        Двухместный номер Делюкс с 1 кроватью
                    </div>
                </div>
                <div class="l-row l-row--mt-10">
                    <div class="c-modal__service">
                        <div class="c-modal__service--column">
                            <div class="c-modal__service--icon">
                                <img src="images/all/modal__dinner.svg" alt="image">
                            </div>
                            <div class="c-modal__service--text">
                                Включен полный английский завтрак
                            </div>
                        </div>
                        <div class="c-modal__service--column">
                            <div class="c-modal__service--icon">
                                <img src="images/all/modal__bed.svg" alt="image">
                            </div>
                            <div class="c-modal__service--text">
                                1 большая двуспальная кровать
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-row l-row--mt-10">
                    <form class="c-modal__reservation">
                        <div class="c-modal__reservation--row">
                            <div class="c-modal__reservation--column">
                                Стоимость не возвращается
                            </div>
                            <div class="c-modal__reservation--column">
                                <div class="c-modal__reservation--users">
                                    <img src="images/all/room__user.svg" alt="image">
                                    <img src="images/all/room__user.svg" alt="image">
                                </div>
                            </div>
                            <div class="c-modal__reservation--column">
                                <div class="c-modal__reservation--price">
                                    4 879 <span class="c-modal__reservation--currency">UAH</span>
                                </div>
                            </div>
                            <div class="c-modal__reservation--column">
                                <div class="c-room__table--select c-select c-select--w-auto c-select--w-100">
                                    <div class="c-select__selected">
                                        Выбрать
                                    </div>
                                    <div class="c-select__dropdown c-select__dropdown--top">
                                        <div class="c-select__scroll">
                                            <div class="c-select__item">
                                                <div class="c-select__item--title">
                                                    Выбор-1
                                                </div>
                                            </div>
                                            <div class="c-select__item">
                                                <div class="c-select__item--title">
                                                    Выбор-2
                                                </div>
                                            </div>
                                            <div class="c-select__item">
                                                <div class="c-select__item--title">
                                                    Выбор-3
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="c-modal__reservation--button c-button c-button--green" type="submit">
                                    <span class="c-button__inner">
                                        Забронировать
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="c-modal__close"></div>
            </div>
        </div>
    </div>

{% endblock %}