{% extends '../layout.twig' %}

{% block head_title %}Review mobile-1 | Planet of Hotels{% endblock %}

{% block body_class %}l-body{% endblock %}

{% block body %}

    <div class="c-modal c-modal--1100 c-modal--active">
        <div class="c-modal__wrap">
            <div class="c-modal__content c-modal--pt-0 max-1151">
                <div class="c-modal__panel">
                    <div class="c-modal__panel--back"></div>
                    <div class="c-modal__panel--title">
                        Отзывы Booking.com
                    </div>
                    <div class="c-modal__panel--close"></div>
                </div>
                <div class="l-row l-row--mt-60">
                    <div class="с-include">
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Ванная комната
                            </div>
                            <div class="с-include__item">
                                Туалетная бумага
                            </div>
                            <div class="с-include__item">
                                Постельное белье
                            </div>
                            <div class="с-include__item">
                                Полотенца
                            </div>
                            <div class="с-include__item">
                                Тапочки
                            </div>
                            <div class="с-include__item">
                                Собственная ванная комната
                            </div>
                            <div class="с-include__item">
                                Туалет
                            </div>
                            <div class="с-include__item">
                                Бесплатные косметические принадлежности
                            </div>
                            <div class="с-include__item">
                                Фен
                            </div>
                            <div class="с-include__item">
                                Душ
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Спальня
                            </div>
                            <div class="с-include__item">
                                Шкаф или гардероб
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                На свежем воздухе
                            </div>
                            <div class="с-include__item">
                                Место для пикника
                            </div>
                            <div class="с-include__item">
                                Садовая мебель
                            </div>
                            <div class="с-include__item">
                                Обеденная зона на улице
                            </div>
                            <div class="с-include__item">
                                Мебель на улице
                            </div>
                            <div class="с-include__item">
                                Принадлежности для барбекю
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Кухня
                            </div>
                            <div class="с-include__item">
                                Обеденный стол
                            </div>
                            <div class="с-include__item">
                                Чистящие средства
                            </div>
                            <div class="с-include__item">
                                Плита
                            </div>
                            <div class="с-include__item">
                                Кухонные принадлежности
                            </div>
                            <div class="с-include__item">
                                Электрический чайник
                            </div>
                            <div class="с-include__item">
                                Холодильник
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Парковка
                            </div>
                            <div class="с-include__item">
                                Бесплатная Частная парковка на месте (предварительный заказ не требуется).
                            </div>
                            <div class="с-include__item">
                                Уличная парковка
                            </div>
                            <div class="с-include__item">
                                Охраняемая парковка
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Красота и здоровье
                            </div>
                            <div class="с-include__item">
                                Массаж
                            </div>
                            <div class="с-include__item">
                                Паровая баня
                            </div>
                            <div class="с-include__item">
                                Салон красоты
                            </div>
                            <div class="с-include__item">
                                Сауна
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Питание
                            </div>
                            <div class="с-include__item">
                                Бар у бассейна
                            </div>
                            <div class="с-include__item">
                                Бесплатный чай/кофе
                            </div>
                            <div class="с-include__item">
                                Завтрак
                            </div>
                            <div class="с-include__item">
                                Ресторан
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Транспорт
                            </div>
                            <div class="с-include__item">
                                Трансфер (оплачивается отдельно)
                            </div>
                            <div class="с-include__item">
                                Прокат велосипедов (оплачивается отдельно)
                            </div>
                        </div>
                        <div class="с-include__list">
                            <div class="с-include__title">
                                Стойка регистрации
                            </div>
                            <div class="с-include__item">
                                Хранение багажа
                            </div>
                            <div class="с-include__item">
                                Ускоренная
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}