{% extends '../layout.twig' %}

{% block head_title %}Review mobile-2 | Planet of Hotels{% endblock %}

{% block body_class %}l-body{% endblock %}

{% block body %}

    <div class="c-modal c-modal--1100 c-modal--active">
        <div class="c-modal__wrap">
            <div class="c-modal__content c-modal--pt-0 max-1151">
                <div class="c-modal__panel">
                    <div class="c-modal__panel--back"></div>
                    <div class="c-modal__panel--title">
                        Отзывы Booking.com
                    </div>
                    <div class="c-modal__panel--close"></div>
                </div>
                <div class="l-row l-row--mt-60">
                    <div class="c-feedback">
                        <div class="c-feedback__block">
                            <div class="c-feedback__row">
                                <div class="c-feedback__column">
                                    <div class="c-feedback__name">
                                        Madam_anastacia
                                    </div>
                                    <div class="c-feedback__date">
                                        25 сентября 2019
                                    </div>
                                </div>
                                <div class="c-feedback__column">
                                    <div class="c-feedback__rating">
                                        <div class="c-feedback__rating--number c-feedback__rating--dark-blue">
                                            8.7
                                        </div>
                                        <div class="c-feedback__rating--logo">
                                            <img src="images/logo_services/booking.svg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__title">
                                    Потрясающе
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__plus"></div>
                                <div class="c-feedback__text">
                                    Считаю, что это очень хороший отель. Есть свой паркинг, круглосуточная стойка регистрации. Всё тихо, спокойно. Хорошая шумоизоляция в номерах, практически не слышно, что происходит в коридорах.
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__minus"></div>
                                <div class="c-feedback__text">
                                    Считаю, что это очень хороший отель. Есть свой паркинг, круглосуточная стойка регистрации. Всё тихо, спокойно. Хорошая шумоизоляция в номерах, практически не слышно, что происходит в коридорах.
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__more">
                                    Читать весь отзыв
                                </div>
                            </div>
                        </div>
                        <div class="c-feedback__block">
                            <div class="c-feedback__row">
                                <div class="c-feedback__column">
                                    <div class="c-feedback__name">
                                        Madam_anastacia
                                    </div>
                                    <div class="c-feedback__date">
                                        25 сентября 2019
                                    </div>
                                </div>
                                <div class="c-feedback__column">
                                    <div class="c-feedback__rating">
                                        <div class="c-feedback__rating--number">
                                            8.7
                                        </div>
                                        <div class="c-feedback__rating--text">
                                            Отзывы гостей<br>
                                            Planet of hotels
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__title">
                                    Потрясающе
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__plus"></div>
                                <div class="c-feedback__text">
                                    Считаю, что это очень хороший отель. Есть свой паркинг, круглосуточная стойка регистрации. Всё тихо, спокойно. Хорошая шумоизоляция в номерах, практически не слышно, что происходит в коридорах.
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__minus"></div>
                                <div class="c-feedback__text">
                                    Считаю, что это очень хороший отель. Есть свой паркинг, круглосуточная стойка регистрации. Всё тихо, спокойно. Хорошая шумоизоляция в номерах, практически не слышно, что происходит в коридорах.
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__more">
                                    Читать весь отзыв
                                </div>
                            </div>
                        </div>
                        <div class="c-feedback__block">
                            <div class="c-feedback__row">
                                <div class="c-feedback__column">
                                    <div class="c-feedback__name">
                                        Madam_anastacia
                                    </div>
                                    <div class="c-feedback__date">
                                        25 сентября 2019
                                    </div>
                                </div>
                                <div class="c-feedback__column">
                                    <div class="c-feedback__rating">
                                        <div class="c-feedback__rating--number c-feedback__rating--green">
                                            8.7
                                        </div>
                                        <div class="c-feedback__rating--logo">
                                            <img src="images/logo_services/booking.svg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__title">
                                    Потрясающе
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__plus"></div>
                                <div class="c-feedback__text">
                                    Считаю, что это очень хороший отель. Есть свой паркинг, круглосуточная стойка регистрации. Всё тихо, спокойно. Хорошая шумоизоляция в номерах, практически не слышно, что происходит в коридорах.
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__minus"></div>
                                <div class="c-feedback__text">
                                    Считаю, что это очень хороший отель. Есть свой паркинг, круглосуточная стойка регистрации. Всё тихо, спокойно. Хорошая шумоизоляция в номерах, практически не слышно, что происходит в коридорах.
                                </div>
                            </div>
                            <div class="c-feedback__row">
                                <div class="c-feedback__more">
                                    Читать весь отзыв
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}